.text-circle {
  text-align: center;
  vertical-align: middle;
  color: #fff;
  font-size: 1.2rem;
  background: #babfc7;
}

.avatar-md {
  width: 40px;
}

.list-group-item {
  padding-bottom: 0px !important;
  padding-top: 1px !important;
}
