<div class="row">
  <div class="col-12">
    <form class="form-group">
      <div class="input-group mb-2">
        <input #key class="form-control" type="search" (keyup)="onSearchByCriteria(key.value)" placeholder="Search" aria-label="Search">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fas fa-search"></i>
          </div>
        </div>

      </div>

    </form>
  </div>
</div>

<!-- <div class="row search-results-header">
  <div class="col-8">ชื่อหน้าที่</div>
  <div class="col-4">ชื่อย่อ</div>
</div> -->
<!-- <ul class="list-group list-group-flush" *ngFor="let resp of responsibilities">
  <div>
    <button type="button" (click)="onChangeResp(resp)" class="list-group-item list-group-item-action">
      <div class="row">
        <div class="col-sm-8 text-left">
          <p>{{resp.respName}}</p>
        </div>
        <div class="col-sm-4 text-left media">
          <p>{{resp.respAbbr}}</p>
        </div>
      </div>
    </button>
  </div>
</ul>


<div class="row" *ngIf="responsibilities.length === 0">
  <div class="col-sm-12 text-center">
    <p>ไม่พบข้อมูล</p>
  </div>
</div>

<div class="search-results-body" data-infinite-scroll debounce [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle"
  (scrolled)="onScrollDown()">
</div> -->

<div class="row">
  <div class="col-12">ทั้งหมด {{responsibilities.length}} รายการ</div>
</div>

<div class="row search-results-header">
    <div class="col-8">ชื่อหน้าที่</div>
    <div class="col-4">ชื่อย่อ</div>
</div>

<div class="search-results-body"
     data-infinite-scroll debounce
     [infiniteScrollDistance]="scrollDistance"
     [infiniteScrollThrottle]="throttle"
     (scrolled)="onScrollDown()">
        <div class="row" *ngFor="let resp of responsibilities" (click)="onChangeResp(resp)">
              <div class="col-8">{{resp.respName}}</div>
              <div class="col-4">{{resp.respAbbr}}</div>
        </div>
</div>
