<!-- Modal -->
<div class="modal fade"  id="project-modal" tabindex="-1" role="dialog" aria-labelledby="project-modal"  aria-hidden="true">
  <div class="modal-dialog modal-md modal-lg"  role="document">
    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <button type="button" class="btn btn-link" (click)="oncloseModal()"><i class="fas fa-times fa-lg"></i></button>

        <div class="text-center header-text">
          {{project.projectId == null?'เพิ่มโครงการ':'แก้ไขโครงการ'}}
        </div>
        <div>
            <button *ngIf="project.projectId"
            class="btn btn-link text-white"
            id="del-btn"  name="del-btn"
            (click)="onSubmitDelete(project.projectId)"
            >
            <i class="far fa-trash-alt mr-1 ">
              ลบ
            </i>
            </button>
            <button type="button" class="btn btn-success" (click)="onSubmit()"><i class="fas fa-check mr-1"></i>บันทึก</button>
        </div>


      </div>

      <!-- Tab -->
      <div>
        <ul class="nav nav-pills nav-fill"
            id="main-tab-menu"
            role="tablist">
          <li class="nav-item">
            <a class="nav-link active"
               href="#tab-infomation"
               role="tab"
               id="infomation-a"
               data-toggle="tab">
              <i class="fas fa-info-circle fa-lg"></i>
              <br>รายละเอียด
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               href="#tab-phase"
               role="tab"
               id="phase-a"
               data-toggle="tab">
              <i class="far fa-clock fa-lg"></i>
              <br>ระยะโครงการ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               href="#tab-member"
               role="tab"
               id="member-a"
               data-toggle="tab">
              <i class="fas fa-users fa-lg"></i>
              <br>สมาชิก</a>
          </li>
        </ul>
      </div>

      <!-- Body -->
      <div class="modal-body">
        <div class="tab-content">
          <!-- Infomation -->
          <div role="tabpanel"
               class="tab-pane in active"
               id="tab-infomation">
            <project-modal-detail></project-modal-detail>
          </div>

          <!-- Phase -->
          <div role="tabpanel"
               class="tab-pane fade"
               id="tab-phase">
            <project-modal-phase></project-modal-phase>
          </div>

          <!-- Member -->
          <div role="tabpanel"
               class="tab-pane fade"
               id="tab-member">
            <project-modal-member></project-modal-member>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
