span.username.input-group-text {
    background: transparent;
    border-right: 0;
}
.tasks-list {
    // height:480px;
    overflow-y: auto;
    overflow-x: hidden;
}

.group-date {
    padding: 5px;
    background: rgb(255, 151, 58);
    font-weight: 500;
}
