<div class="row">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="username input-group-text">
        <i class="fas fa-search"></i>
      </span>
    </div>
    <input type="text"
           id="keyword"
           name="keyword"
           class="form-control input-sm"
           [(ngModel)]="keyword"
           (ngModelChange)="onSearch()"
           placeholder="ชื่อผู้ใช้งาน">
  </div>
</div>
<!-- <div *ngFor="let item of employees | groupBy:'department'">
    Department {{ item.key }} has {{ item.value.length }} employees
  </div> -->

<div class="row">
  <div class="search-results"
       data-infinite-scroll
       debounce
       [infiniteScrollDistance]="1"
       [infiniteScrollThrottle]="1000"
       (scrolled)="onScrollDown()">
    <task [source]="taskf.task"
          *ngFor=" let taskf of taskForms | async"></task>
  </div>
</div>