<div class="row ">
  <div class="col-3 project-thumbnail">
          <img src="../../../../assets/img/projects/Burger_King_Logo.png">
  </div>
  <div class="col-9">
      <div class="project-abbr mt-xl-5">RD-DDC</div>
      <div class="customer-name">กรมสรรพากร</div>
  </div>
</div>
<div class="row">
  <div class="col-12 project-name py-2">
          ระบบศูนย์ข้อมูลดิจิตอล
  </div>
</div>
<div class="row">
  <div class="col-12">
      <ul class="list-group list-group-flush phase-list">
          <li class="list-group-item">
              <div class="phase row">
                  <div class="phase-name col-4">
                      MA
                    </div>
                  <div class="phase-start col-4">
                    <p>1 มี.ค. 2561</p>
                    <span>เริ่มโครงการ</span>
                  </div>
                  <div class="phase-end col-4">
                      <p>31 ธ.ค. 2561</p>
                      <span>สิ้นสุดโครงการ</span>
                  </div>
                </div>
          </li>
          <li class="list-group-item">
              <div class="phase row">
                  <div class="phase-name col-4">
                      WA
                    </div>
                  <div class="phase-start col-4">
                    <p>1 มี.ค. 2561</p>
                    <span>เริ่มโครงการ</span>
                  </div>
                  <div class="phase-end col-4">
                      <p>31 ธ.ค. 2561</p>
                      <span>สิ้นสุดโครงการ</span>
                  </div>
                </div>
          </li>
          <li class="list-group-item">
              <div class="phase row">
                  <div class="phase-name col-4">
                      DEV
                    </div>
                  <div class="phase-start col-4">
                    <p>1 มี.ค. 2561</p>
                    <span>เริ่มโครงการ</span>
                  </div>
                  <div class="phase-end col-4">
                      <p>31 ธ.ค. 2561</p>
                      <span>สิ้นสุดโครงการ</span>
                  </div>
                </div>
          </li>
        </ul>
  </div>
</div>
<div class="row">
  <div class="col-12">
      <div id="accordion project-detail">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  ข้อมูลโครงการ
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Hardware
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  software
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
