<div class="row ">
  <div class="col-3 project-thumbnail">
          <img src="{{project.projectThumbnail || './assets/img/ico/startup.png'}}">
  </div>
  <div class="col-7">
      <div class="project-abbr mt-md-3">{{project.projectAbbr}}</div>
      <div class="customer-name">{{project.customerName}}</div>
  </div>
  <div class="col-2">
      <button type="button" class="btn btn-link float-right"
      (click)="onEditClick()"
      *ngIf="user.userLevel == 'A' || user.userId == project.ownerUserId"
      >
          <i class="fas fa-edit fa-lg"></i>
        แก้ไข</button>
  </div>
</div>
<div class="row">
  <div class="col-12 project-name py-2">
      {{project.projectName}}
  </div>
</div>
<div class="row">
  <div class="col-12">
      <ul class="list-group list-group-flush phase-list">
          <li class="list-group-item" *ngFor="let data of projectPhases">
              <div class="phase row">
                  <div class="phase-name col-4">
                      {{data.phaseName || 'N/A'}}
                    </div>
                  <div class="phase-start col-4">
                    <p>{{data.startDate | thaiDate:'short' || ''}}</p>
                    <span>เริ่มโครงการ</span>
                  </div>
                  <div class="phase-end col-4">
                      <p>{{data.endDate | thaiDate:'short' || ''}}</p>
                      <span>สิ้นสุดโครงการ</span>
                  </div>
                </div>
          </li>
        </ul>
  </div>
</div>
<div class="row">
  <div class="col-12">
      <div id="accordion" class="project-detail">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  ข้อมูลโครงการ
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
              <div class="card-body">
                <p [innerText]="project.detail|| ''">
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  ฮาร์ดแวร์
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
              <div class="card-body">
                <p [innerText]="project.hardware|| ''"></p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  ซอฟต์แวร์
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
              <div class="card-body">
                <p [innerText]="project.software|| ''">
                </p>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
