
<div class="row info-header-row">
    <div class="col-9">
    <h5 class="mb-0">
      รายละเอียดผู้ใช้งาน
    </h5>
    </div>
    <div class="col-3">
        <button class="btn btn-link p-0 mb-1 float-right"
          (click)="updateUserRegister($event)"
          id="btn-new-user-register" type="button">
          <i class="fas fa-edit fa-lg"></i>
          แก้ไข
      </button>
  </div>
</div>
<div class="info-data-display"  *ngIf="found==='Y'">
  <div class="row">
    <div class="col-8">
      <label>รหัสผู้ใช้งาน</label>
      <p>{{userId}}</p>
    </div>
    <div class="col-4">
      <label>สถานะ</label>
      <p>{{(user.activeFlag=='A'?'ใช้งาน':(user.activeFlag=='I'?'ไม่ใช้งาน':''))}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label>ชื่อผู้ใช้งาน</label>
      <p>{{officer.firstNameTh||''}} {{officer.lastNameTh||''}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label>Email</label>
      <p>{{user.email}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label>ระดับการใช้งาน</label>
      <p>{{user.userLevel=='A'?'Admin':user.userLevel=='P'?'Project Editor':'User'}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label>หมายเหตุ</label>
      <p [innerText]="user.remark||''"></p>
    </div>
  </div>
</div>

<div *ngIf="found !== 'Y'">
  <div class="row" >
    <div class="col-12 info-body-bold">
        <label>ไม่พบข้อมูลรายละเอียดของผู้ใช้ {{userId}}</label>
    </div>
  </div>
</div>
