.admin-info-header{
  font-weight: bold;
  border-bottom:5px solid #BF0013;
}

.admin-info-body-bold{
  font-weight: bold;
}

.admin-info-body {
  color: #A4A4A4

}


.admin-table-header{
    background: #BF0013;
    color: #FFFFFF;

}
