.admin-info-header {
  font-weight: bold;
  border-bottom: 5px solid #BF0013;
}

.admin-info-body-bold {
  font-weight: normal;
}

.admin-info-body {
  color: #0044cc;
}

.admin-table-header {
  background: #BF0013;
  color: #FFFFFF;
}

.admin-list-group-item {
  padding-bottom: 0px;
  padding-top: 1px;
}

.admin-textarea {
  resize: none;
}
