.blue {
  background-color: $blue !important;
}

.indigo {
  background-color: $indigo !important;
}
.purple {
  background-color: $purple !important;
}
.pink {
  background-color: $pink !important;
}
.red {
  background-color: $red !important;
}
.orange {
  background-color: $orange !important;
}
.green {
  background-color: $green !important;
}
.teal {
  background-color: $teal !important;
}
.cyan {
  background-color: $cyan !important;
}
