
.primary {
  background-color: $primary !important;
}
.success {
  background-color: $success !important;
}
.danger {
  background-color: $danger !important;
}
.warning {
  background-color: $warning !important;
}
.secondary {
  background-color: $secondary !important;
}
.info {
  background-color: $info !important;
}

.indigo {
  background-color: $indigo !important;
}
.purple {
  background-color: $purple !important;
}
.teal {
  background-color: $teal !important;
}
.dark {
  background-color: $dark !important;
}

.blue {
  background-color: $blue !important;
}
.pink {
  background-color: $pink !important;
}
.red {
  background-color: $red !important;
}
.orange {
  background-color: $orange !important;
}
.cyan {
  background-color: $cyan !important;
}
.yellow {
  background-color: $yellow !important;
}
.green {
  background-color: $green !important;
}

//light pattern
.l-blue{
  background-color: #007BFF !important;
}
.l-pink{
  background-color: #FF0056 !important;
}
.l-red{
  background-color: #FF0000 !important;
}
.l-orange{
  background-color: #FF9900 !important;
}
.l-cyan{
  background-color: #17A2B8 !important;
}
.l-violet{
  background-color: #A300BB !important;
}
.l-green{
  background-color: #0FD400 !important;
}

//pastel pattern
.p-blue{
  background-color: #90CAF9 !important;
}
.p-pink{
  background-color: #F48FB1 !important;
}
.p-red{
  background-color: #EF9A9A !important;
}
.p-orange{
  background-color: #FFCC80 !important;
}
.p-cyan{
  background-color: #80DEEA !important;
}
.p-yellow{
  background-color: #FFF59D !important;
}
.p-green{
  background-color: #A5D6A7 !important;
}
