
.primary {
  background-color: $primary !important;
}
.success {
  background-color: $success !important;
}
.danger {
  background-color: $danger !important;
}
.warning {
  background-color: $warning !important;
}
.secondary {
  background-color: $secondary !important;
}
.info {
  background-color: $info !important;
}

.indigo {
  background-color: $indigo !important;
}
.purple {
  background-color: $purple !important;
}
.teal {
  background-color: $teal !important;
}
.dark {
  background-color: $dark !important;
}

.blue {
  background-color: $blue !important;
}
.pink {
  background-color: $pink !important;
}
.red {
  background-color: $red !important;
}
.orange {
  background-color: $orange !important;
}
.cyan {
  background-color: $cyan !important;
}
.yellow {
  background-color: $yellow !important;
}
.green {
  background-color: $green !important;
}

//light pattern
.light-blue{
  background-color: #448AFF !important;
}
.light-pink{
  background-color: #FF4081 !important;
}
.light-red{
  background-color: #FF5252 !important;
}
.light-orange{
  background-color: #FFAB40 !important;
}
.light-cyan{
  background-color: #18FFFF !important;
}
.light-yellow{
  background-color: #FFFF00 !important;
}
.light-green{
  background-color: #B2FF59 !important;
}

//pastel pattern
.p-blue{
  background-color: #90CAF9 !important;
}
.p-pink{
  background-color: #F48FB1 !important;
}
.p-red{
  background-color: #EF9A9A !important;
}
.p-orange{
  background-color: #FFCC80 !important;
}
.p-cyan{
  background-color: #80DEEA !important;
}
.p-yellow{
  background-color: #FFF59D !important;
}
.p-green{
  background-color: #A5D6A7 !important;
}
