@import 'task-card';
$bg-list-hover: rgba(199, 199, 199, 0.5);
$bg-list-active: rgb(0, 68, 204);
$white:white;
//For accordion panel
#accordion{
  .card{
    margin-bottom: 0.5rem;
    .card-header{
      padding: 0.5rem !important;
    }
  }
}


// For cards display as list
.data-can-select-list{
li:hover> .card{
  background-color: rgba(199, 199, 199, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #3e3e3e;
  z-index: 5;
  -webkit-transition: -webkit-transform 0.2s;
  transition: all 0.2s;
}
li.active> .card{
  background-color: $bg-list-active;
  transform: scale(1.01);
  color: $white;
}
}
