$red: #e41313;
$gray: #afafaf;
$white: #fff;
$yellow: #dede1e;

.inline-picker {
    // table.ui-datepicker-calendar{
    //     width: 350px;
    //     margin: auto;
    // }
    .ui-widget {
        font-family: "Kanit", sans-serif !important;
    } // Header
    .ui-widget-header {
        background: transparent !important;
        border: 0px !important;
    } // Table
    .ui-datepicker td {
        width: 35px !important;
        height: 35px !important;
        display: inline-block;
        padding: 0px !important;
        span,a {
            text-align: center !important;
        }
    }
    .ui-datepicker th {
        width: 35px !important;
        height: 35px !important;
        display: inline-block;
        span,a {
            text-align: center !important;
        }
    }
    // .ui-datepicker td span,
    // .ui-datepicker td a {
    //     text-align: center !important;
    // }
    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default {
        background: transparent !important;
        border: 0px !important;
    }
    .ui-state-highlight,
    .ui-widget-content .ui-state-highlight,
    .ui-widget-header .ui-state-highlight {
        color: $red;
    }

    .holiday a {
            color: $red;
    }

    .unstamped {
        position: relative;
    }

    .unstamped:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        display: block;
        border-left: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-top: 10px solid $yellow;
    }


    .leave {
        border-radius: 50%;
        text-align: center;
        background: $gray;
        a.ui-state-default{
            color: white !important;
        }
    }

    // Select day
    .ui-datepicker-current-day{
        display: block;
        border-radius: 50%;
        border: 1px solid $red;
        text-align: center;
        margin: auto;
        a {
            color: $red !important;
        }
    }

    // Now day
    .ui-datepicker-today{
        border-radius: 50%;
        text-align: center;
        background: $red;
        a {
            color: $white !important;
        }
    }

    // Week end
    .ui-datepicker-week-end{
        a {
            color: $gray !important;
        }
    }
}


