.form-control-1xl {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border-radius: 0.3rem;
}
.form-control-2xl {
  padding: 0.5rem 1rem;
  font-size: 3rem;
  border-radius: 0.3rem;
}
.form-control-3xl {
  padding: 0.5rem 1rem;
  font-size: 5rem;
  border-radius: 0.3rem;
}
