.wrapper {
  display: flex;
  align-items: stretch;
}
.container-fluid{
  padding-left:0 !important;
  padding-right: 0 !important;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.example-col{
  height: 3em;
}

@include media-breakpoint-down(sm){
  .menu-shadow-col{
    display: none;
  }
}
.collapse{
  display: block !important;
}
