
#sidebar.active {
  margin-left: -250px;
}


#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  min-width: 250px;
  max-width: 250px;
  background: #bf0013;
  color: #fff;
  transition: all 0.3s;
  position: -webkit-fixed;
  position: fixed;
  z-index: 1021;
  top:0rem;
  height: calc(100vh) !important;

    p {
      color: #fff;
      padding: 10px;
    }

    li.active > a, a[aria-expanded="true"] {
      color: #fff;
    }
    li {
      padding-left: 1rem;
      a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
        color: #fff;
        i.fas{
          font-size: 2.5rem;
          width: 2.5rem;
        }
        span.menu-title{
          padding-left: 15px;
          vertical-align: middle;
          font-size: 1.3rem;
          font-weight: 200;
          display: inline-block;
          margin-top: -1.5rem;
        }
      }
    }
    li:hover{
      background: rgba(0, 0, 0, 0.3);
      transition: all 0.3s;
    }


  .sidebar-header {
    #sidebar-brand{
      padding-top: 5px;
      text-align: center;
      background: #90000e;
      min-height: 70px;
      a.sidebar-brand{
        display: inline-block;
        font-size: 2rem;
        font-weight: 700;
        color:#fff !important;
      }
    }
  }

  .spin-link{
    display: block!important;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;

    margin-top: 2rem;
    padding-bottom: 1rem;
  }
}

#show-sidebar {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
#hide-sidebar{
  padding: 0.25rem 0.75rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.3s;
  cursor: pointer;
  float: right;
  margin-top: 1rem;
  margin-right: 0.5rem;

}
#hide-sidebar, #show-sidebar {
  font-size: 1.5rem;
  line-height: 1;
  color:#fff;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.3s;
  cursor: pointer;

}

.navbar{
  min-height: 70px;
  .account-box{
    color:#fff;
    display: inline-block;
    .user-name{
      font-weight: 500;
      display: block;
    }
    .user-id{
      display: block;
      font-weight: 200;
      line-height: 15px;
      opacity: 0.7;
      filter: alpha(opacity=70);
    }
  }
  .nav-link {
    padding: 0rem 0rem !important;
    padding-left: 1rem !important;
}
  .dropdown-toggle::after{
    vertical-align: 1.3em;
    color:#fff;
  }
}


@include media-breakpoint-up(sm) {
  #hide-sidebar {
    visibility: hidden;
  }
  .navbar{
    .left-section{
      visibility: hidden;
    }
  }
}

@include media-breakpoint-down(sm) {
  #sidebar-brand{
    background: transparent !important;
  }
  #hide-sidebar {
    visibility: visible;
  }
  .navbar{
    .left-section{
      visibility: visible;
    }
    .nav-profile{
      margin-left: 2.5rem;
    }
  }
}




// @mixin modal-header-color($class,$color){
//   .modal-header-#{$class}{
//     background:$color;
//   }
// }


// @include modal-header-color('project','#fff');
// @include modal-header-color('task','#000');
