$bghead: rgb(44, 111, 246);
$bghov: rgba(0, 0, 0, 0.2);

$bgbody: rgb(217, 217, 217);
$white: #FFFFFF;

.modal-backdrop{
  z-index: 998;
}
.modal{
  z-index: 999;
  a {
    color: $white;
  }
  .row{
    padding:0rem !important;
  }
  // Header
.modal-header {
  background-color: $bghead;
  border-bottom: none;
  .header-text {
      color: $white;
      font-size: 20px;
      font-weight: 200;
  }
  button > i{
    color:$white !important;
  }
  button:hover{
    opacity: 0.8;
    filter: opacity(80);
  }
}

.nav-item {
  background-color: $bghead;
}

.nav-link {
  border-radius: 0;
}

.nav-link.active {
  background-color: $bghov;
}

// Body
.modal-body {
  background-color: $bgbody;
  height: 600px;
}
}

