<div class="row">
  <div class="col-12">
    <span class="total-member">{{projectMemberList.length || 0}}</span><span> รายการ</span>
  </div>
</div>
<div class="row">
  <div class="col-12">
      <ul class="list-group list-group-flush member-list">
          <li class="list-group-item member-item" *ngFor="let mem of projectMemberList">
            <!-- <img class="profile-img rounded-circle float-left mr-2" src="assets/img/profile/profile.png" width="50" height="50"> -->
            <span class="member-name d-block">{{mem.user.officer.firstNameTh}} {{mem.user.officer.lastNameTh}}</span>
            <span class="member-role d-block">{{mem.respName}}</span>
          </li>
        </ul>
  </div>
</div>
