.datepicker-collapse {
  margin-top: -5px !important;
  border-top: 1px solid #c3c3c3;
}

.dp-btn-collapse {
  margin: auto;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  height: 25px;
  padding-top: 0px;
  margin-bottom: 5px;
}

label {
  white-space: pre-wrap;
}

.info-body {
  color: #0044cc;
}

p {
  white-space: pre-wrap;
}
