<div class="row collapse show" id="datepickerCollapse">
  <div id="workingDatePicker" class="inline-picker"></div>
</div>

<!-- <h4 class="text-center">วันหยุดประจำเดือน</h4>
<div id="holiday-list" *ngFor="let holiday of holidays ">
  <div class="row">
    <div class="col-sm-4 text-info">
      <h5 class="card-title">{{holiday.holDate | thaiDate:'full' || '' }}</h5>
    </div>
    <div class="col-sm-8 text-info">
      <h5 class="card-text">{{holiday.holName}}</h5>
    </div>
  </div>
</div> -->

<div id="card-holiday" class="card">
  <div class="card-header">
    <h4 class="text-center">วันหยุดประจำเดือน</h4>
  </div>
  <div class="card-body" *ngFor=" let holiday of holidays">
    <div id="holiday-list">

      <div class="row">
        <div class="col-sm-4 text-info">
          <h5 class="card-title">{{holiday.holDate | thaiDate:'full' || '' }}</h5>
        </div>
        <div class="col-sm-8 text-info">
          <h5 class="card-text">{{holiday.holName}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
