<div id="resp-info">
  <div class="row info-header">
    <div class="col-9 text-left">
      <h5 class="mb-0">
        <label>รายละเอียดวันหยุด</label>
      </h5>
    </div>
    <div class="col-3 text-right">
      <button type="button" class="btn btn-link" (click)="editHoliday($event)">
        <i class="fas fa-pencil-alt"> แก้ไข</i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-9">
      <label class="info-body-bold">ชื่อวันหยุด</label>
      <p class="info-body">{{holiday.holName}}</p>
    </div>
    <div class="col-3">
      <label class="info-body-bold">สถานะ</label>
      <p class="info-body">{{holiday.activeFlag === 'A' ? 'ใช้งาน' : 'ไม่ใช้งาน'}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label class="info-body-bold">วันที่</label>
      <p class="info-body">{{holiday.holDate | thaiDate:'full' || '' }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label class="info-body-bold">หมายเหตุ</label>
      <label class="info-body">{{holiday.remark}}</label>
    </div>
  </div>
</div>
