.position-r {
  text-align: right;
}

.scroll-auto{
  overflow: auto;
  max-height: 180px;
  margin-bottom: 10px;
}

.modal-h{
  height: 30rem;
}

.btn.fas.fa-times-circle{
  padding: 0;
}

.width-fit{
  max-width: fit-content;
}
