<div class="container" *ngIf="isDisabled">
  <div class="row">
    <div class="col d-flex">
      <div class="ml-auto">
        <label>{{user.email}}</label>
          <span class="do-self-flag">
            <input class="switch"
                   type="checkbox"
                   id="do-self-flag"
                   [disabled]="mode == 'VIEW'"
                   name="do-self-flag"
                   [(ngModel)]="doSelfFlag">
              <label for="do-self-flag">
                <span></span>
              </label>
          </span>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="mode !== 'VIEW'">
    <label class="label-task-modal">สมาชิกโครงการ</label>
      <div class="col-12 rounded bg-white text-dark scroll-auto">
        <div id="member-list"
             *ngFor="let obj of taskMember">
          <input type="checkbox"
                 name="{{obj.userId}}"
                 id="{{obj.userId}}"
                 [hidden]="hiddenCheckBox"
                 autocomplete="off"
                 [(ngModel)]="obj.status">
                   {{obj.fullName}}
        </div>
      </div>
  </div>

  <!-- VIEW MODE -->
  <div class="row" *ngIf="mode == 'VIEW'">
      <label class="label-task-modal">สมาชิกโครงการ</label>
        <div class="col-12 rounded bg-white text-dark scroll-auto">
          <div id="member-list"
               *ngFor="let obj of taskMember">
                     {{obj.fullName}}
          </div>
        </div>
    </div>

  <div class="row">
    <label class="label-task-modal">ผู้ร่วมงาน</label>
    <div class="col-12 scroll-auto bg-white rounded text-dark">
      <div id="partner-list"
           name="partner-list"
           *ngFor="let obj of taskPartner">
           <div class="row">
             <div class="col width-fit">
             <a class="btn fas fa-times-circle"
                *ngIf="mode !== 'VIEW'"
                id="{{obj.userId}}"
                name="{{obj.userId}}"
                (click)="deletePartner(obj)">
             </a>
            </div>
             <div class="col">
               {{obj.fullName}}<br>
               ({{obj.email}})
               </div>
              </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="mode !== 'VIEW'">
    <div class="col">
      <!-- <input class="form-control"
             id="autocompletePartner"
             [(ngModel)]="partner"
             [typeahead]="autocompletePartnerList"
             typeaheadOptionField="fullName"
             [typeaheadItemTemplate]="customItemTemplate"
             [typeaheadScrollable]="true"
             [typeaheadMinLength]="0"
             autocomplete="off"
             id="input-add-partner"
             [typeaheadOptionsInScrollableView]="5"
             (typeaheadOnSelect)="onSelect($event)">
               <ng-template #customItemTemplate
                            let-model="item"
                            let-index="index">
                 <p>
                   {{model.fullName}}
                 </p>
               </ng-template> -->
               <ng-select [items]="autocompletePartnerList"
          bindLabel="fullName"
          bindValue="userId"
          [(ngModel)]="partner"
          (add)="onSelect($event)"
          ></ng-select>
    </div>
    <div class="col-2">
      <button type="button"
              class="btn btn-success"
              id="add-partner-btn"
              (click)="addPartner()">
                เพิ่ม
      </button>
    </div>
  </div>
</div>

<div class="text-center" *ngIf="!isDisabled">
  <p>กรุณาเลือกโครงการ...</p>
</div>
