<div class="container" *ngIf="isHidden">
  <div class="row">
    <div class="col d-flex">
      <div class="ml-auto">
        <label>{{user.fullName}}</label>
          <span class="do-self-flag">
            <input class="switch"
                   type="checkbox"
                   id="do-self-flag"
                   [disabled]="mode == 'VIEW'"
                   name="do-self-flag"
                   [(ngModel)]="doSelfFlag">
              <label for="do-self-flag">
                <span></span>
              </label>
          </span>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="mode !== 'VIEW'">
    <label class="label-task-modal">สมาชิกโครงการ</label>
      <div class="col-12 rounded bg-white text-dark scroll-auto">
        <div id="member-list"
             *ngFor="let obj of taskMember">
          <input type="checkbox"
                 name="{{obj.userId}}"
                 id="{{obj.userId}}"
                 [hidden]="mode == 'VIEW'"
                 autocomplete="off"
                 [(ngModel)]="obj.status">
                   {{obj.fullName}}
        </div>
      </div>
  </div>

  <!-- VIEW MODE -->
  <div class="row" *ngIf="mode == 'VIEW'">
      <label class="label-task-modal">สมาชิกโครงการ</label>
        <div class="col-12 rounded bg-white text-dark scroll-auto">
          <div id="member-list"
               *ngFor="let obj of taskMember">
                     {{obj.fullName}}
          </div>
        </div>
    </div>

  <div class="row" *ngIf="mode !== 'VIEW'" >
    <label class="label-task-modal" >ผู้ร่วมงาน</label>
    <div class="col-12 scroll-auto bg-white rounded text-dark" *ngIf="taskPartner.length !== 0">
      <div id="partner-list"
           name="partner-list"
           *ngFor="let obj of taskPartner">
           <div class="row">
             <div class="col width-fit">
             <a class="btn fas fa-times-circle"
                *ngIf="mode !== 'VIEW'"
                id="{{obj.userId}}"
                name="{{obj.userId}}"
                (click)="deletePartner(obj)">
             </a>
            </div>
             <div class="col">
               {{obj.fullName}}<br>
               ({{obj.email}})
               </div>
              </div>
      </div>
    </div>
    <div class="col-12 scroll-auto bg-white rounded text-dark" *ngIf="taskPartner.length == 0">ยังไม่ได้เพิ่มผู้ร่วมงาน...</div>
  </div>
  <div class="row" *ngIf="mode !== 'VIEW'">
    <div class="col">
      <ng-select [items]="autocompletePartnerList"
                 bindLabel="fullName"
                 bindValue="userId"
                 (add)="onSelect($event)">
      </ng-select>
    </div>
    <div class="col-2">
      <button type="button"
              class="btn btn-success"
              id="add-partner-btn"
              (click)="addPartner()">
                เพิ่ม
      </button>
    </div>
  </div>
</div>

<div class="text-center" *ngIf="!isHidden">
  <p>กรุณาเลือกโครงการ...</p>
</div>
