<div class="nav flex-column task-list"
     (click)="onselectTask()">
  <li class="nav-item">
    <div class="card task-card selection" [ngClass]="selected ? 'selected' : ''">
      <div class="card-body">
        <span>{{source.workDate}}</span>
        <button type="button"
                (click)="onView()"
                class="btn btn-outline-info float-right">
          <i class="fas fa-external-link-square-alt"></i> view</button>
        <h6 class="card-title text-truncate">{{source.topic}}</h6>
        <p class="card-text text-truncate">{{source.activity}}</p>

        <div class="float-left task-owner">
            {{source.ownerUserId}}
        </div>
        <div class="float-right task-collaborators">
          <i class="fas fa-users"></i>
        </div>
      </div>
      <div class="card-footer">
        <div class="task-project float-left">
          #{{source.projectId}}
        </div>
        <div class="task-tags">
          <span class="badge badge-pill badge-tags">Development</span>
          <span class="badge badge-pill badge-tags">Angular</span>
          <span class="badge badge-pill badge-tags">Spring boot</span>
        </div>
      </div>
    </div>
  </li>
</div>