<div class="nav flex-column task-list">
  <li class="nav-item w-100">
    <!-- , source.taskType === '1' ? 'assign':'' -->
    <div class="card task-card selection"
         [ngClass]="[selected ? 'selected' : '', isOwner]"
         (click)="onselectTask()">
      <div class="card-body">
        <span>
          <i class="fas fa-check"
             style="color:green;"
             *ngIf="source.referTaskId && isOwner"></i>
          <i class="fas fa-exclamation-triangle"
             style="color:yellow;"
             *ngIf="!source.referTaskId && isOwner"></i> {{workStartTime | time}} - {{workEndTime | time}}
          <div class="create-owner"
               *ngIf="source.projectId!">#{{projectId | projectName | async}}</div>
        </span>
        <a (click)="onView()"
           class="btn btn-link float-right p-0">
          <i class="fas"
             [ngClass]="isOwner === 'owner' ? 'fa-eye' : 'fa-edit'"></i>
        </a>
        <h5 class="card-title text-truncate">{{topic}}</h5>
        <p class="card-text text-truncate">{{activity}}</p>
        <!-- <div class="float-rif task-owner"></div> -->
        <div class="float-right task-collaborators"
             *ngIf="(isCollaborator | async) as partner">
          <i class="fas fa-users"
             *ngIf="partner.length > 0" style="font-size:1rem;"></i>
        </div>
      </div>
      <div class="card-footer"
           [ngClass]="source.color">
        <div class="task-project float-left text-truncate">
          {{ownerUserId}}
        </div>
        <div class="task-tags">
          <span class="badge badge-pill badge-tags"
                *ngFor="let tag of source.taskTagList">{{tag.tag.tagName}}</span>
        </div>
      </div>
    </div>
  </li>
</div>
