<!-- MODAL -->
<div class="modal fade" id="user-modal" role="dialog" aria-hidden="true" aria-labelledby="user-modal">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<!-- HEADER -->
			<div class="modal-header">
				<button class="btn btn-link" type="button" (click)="onCloseModal()"><i class="fas fa-times fa-lg"></i></button>
				<div class="text-center header-text info-body-bold">
          แก้ไขสิทธิ์การใช้งาน
        </div>

        <button class="btn btn-success" type="button" (click)="onSubmit()">
          <i class="fas fa-check mr-1"></i> บันทึก
        </button>
			</div>

			<!-- BODY -->
			<div class="modal-body">
				<form [formGroup]="formGroup">
          	<div class="row">
								<div class="col-4 form-group">
									<label for="user-name" class="info-body-bold">รหัสผู้ใช้งาน</label>
									<p>{{user.userId}}</p>
                </div>
                <div class="col-4"></div>
                <div class="col-4 form-group">
                  <label for="active-flag">สถานะ</label>
                  <select class="form-control" id="active-flag"
                  formControlName="activeFlag"
                  [(ngModel)]="user.activeFlag">
                    <option value="A">ใช้งาน</option>
                    <option value="I">ไม่ใช้งาน</option>
                  </select>
                </div>
          </div>

      	<div class="row">
								<div class="col-12 form-group">
                  <label for="user-name" class="info-body-bold">ชื่อผู้ใช้งาน</label>
                  <p>{{officer.firstNameTh||''}} {{officer.lastNameTh||''}}</p>

              </div>
        </div>
      	<div class="row">
								<div class="col-12 form-group">
									<label for="email" class="info-body-bold">Email</label>
									<p>{{user.email||''}}</p>
								</div>
        </div>
        	<div class="row">
								<div class="col-12 form-group">
                  <label for="user-level" class="info-body-bold">ระดับการใช้งาน</label>
                  <select class="form-control" id="user-level" name="user-level"
                  formControlName="userLevel"
                  [(ngModel)]="user.userLevel">
                  <option  value="A">Admin</option>
                  <option value="P">ProjectEditor</option>
                  <option value="U">User</option>
                </select>
						</div>
        </div>
        	<div class="row">
								<div class="col-12 form-group">
									<label for="remark" class="info-body-bold">หมายเหตุ</label>
                  <textarea class="form-control"
                          id="remark"
                          name="remark"
                          maxlength="500"
                          formControlName="remark"
                          rows="5"
                          col="50"
                          [(ngModel)]="user.remark"></textarea>
						</div>
        </div>
    </form>
			</div>
		</div>
	</div>
</div>
