<div class="header">
    <div class="form-row">
        <div class="form-group col-12">
            <p>{{owner}}</p>
        </div>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-12">
        <label>สมาชิกโครงการ</label>
    </div>
    <div class="form-group col-12 rounded bg-white text-dark scroll-auto">
        <div id="member-list"
          *ngFor="let obj of memberList">
            <input type="checkbox"
              name="member-status"
              id="member-status"
              [(ngModel)]="obj.status">
                {{obj.name}}
        </div>
    </div>
</div>
<label>ผู้ร่วมงาน</label>
<div class="form-row">
    <div class="form-group  col-12 scroll-auto bg-white rounded text-dark">
      <div *ngIf="partnerList">
        <div id="partner-list"
          name="partner-list"
          *ngFor="let obj of partnerList" >
            {{obj.name}}
            <a (click)="deletePartner(obj)"
              class="fas fa-times-circle">
            </a>
        </div>
      </div>
    </div>
</div>
<div class="form-row">
    <div class="form-group col">
        <input class="form-control"
          id="task-partner-input"
          name="task-partner-input"
          type="text"
          [(ngModel)]="name">
    </div>
    <div class="form-group col-1 position-r">
        <button type="button" class="btn btn-success" (click)="addPartner()">เพิ่ม</button>
    </div>
</div>
