<div class="row">
  <div class="col-12">
    <form class="form-group">
      <div class="input-group mb-2">
        <input #key class="form-control" type="search" (keyup)="onSearchByCriteria(key.value)" placeholder="Search" aria-label="Search">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fas fa-search"></i>
          </div>
        </div>

      </div>

    </form>
  </div>
</div>

<!-- <div class="row admin-table-header">
  <div class="col-sm-3 text-left">รหัสพนักงาน</div>
  <div class="col-sm-6 text-left">ชื่อ-นามสกุล</div>
  <div class="col-sm-3 text-left">แผนก</div>
</div>

<div class="search-results" data-infinite-scroll [scrollWindow]="false" [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle"
  (scrolled)="onScrollDown()">
  <div class="list-group" *ngFor="let officer of officers">
    <button type="button" (click)="onChangeOfficer(officer)" class="list-group-item list-group-item-action">
      <div class="row">
        <div class="col-sm-3 text-left media">
          <p>{{officer.officeId}}</p>
        </div>
        <div class="col-sm-6 text-left">
          <p>{{officer.titleTh}} {{officer.firstNameTh}} {{officer.lastNameTh}}</p>
        </div>
        <div class="col-sm-3 text-left media">
          <p>{{officer.department.deptAbbr}}</p>
        </div>
      </div>
    </button>
  </div>

  <div class="row" *ngIf="officers.length === 0">
    <div class="col-sm-12 text-center">
      <p>ไม่พบข้อมูล</p>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-12">ทั้งหมด {{officers.length}} รายการ</div>
</div>

<div class="row search-results-header">
  <div class="col-3">รหัสพนักงาน</div>
  <div class="col-6">ชื่อ-นามสกุล</div>
  <div class="col-3">แผนก</div>
</div>

<div class="search-results-body"
     data-infinite-scroll
     debounce
     [infiniteScrollDistance]="scrollDistance"
     [infiniteScrollThrottle]="throttle"
     (scrolled)="onScrollDown()">
  <div class="row" *ngFor="let officer of officers" (click)="onChangeOfficer(officer)">
        <div class="col-3">{{officer.officeId}}</div>
        <div class="col-6">{{officer.titleTh}} {{officer.firstNameTh}} {{officer.lastNameTh}}</div>
        <div class="col-sm-3 text-left media">{{officer.department.deptAbbr}}</div>
  </div>
</div>
