$bghead: rgb(191, 0, 19);
$white: #FFFFFF;
$grey: #A4A4A4;

.info-header{
  font-weight: bold;
  border-bottom:5px solid $bghead;
}

.info-body-bold{
  font-weight: bold;
}

.info-body {
  color: $grey;

}

.table-header{
    background: $bghead;
    color: $white;
}

.list-group-item{
  padding: 0.25rem 1.25rem;
}

.modal-header{
  background-color: $bghead !important;
}

.modal-btn{
  background-color: transparent;
  border: none;
}
