<div class="container">
  <div class="row">
    <label class="label-task-modal">ป้ายกำกับ</label>
    <div class="col-12">
      <tag-input class="form-control"
                 theme='pink-theme'
                 [(ngModel)]='tagList'
                 id="tag-name"
                 [disable]="mode == 'VIEW'"
                 [removable]='true'
                 [maxItems]='10'
                 [onlyFromAutocomplete]="false">
        <tag-input-dropdown [showDropdownIfEmpty]="false"
                            [autocompleteItems]="autoCompleteTagList"
                            identifyBy="tagName"
                            displayBy="tagName">
        </tag-input-dropdown>
      </tag-input>
    </div>
  </div>
  <div class="row" *ngIf="mode !== 'VIEW'">
      <label class="label-task-modal max-width">ป้ายกำกับที่เคยใช้</label>
      <div *ngFor="let tag of usedTagList">
    <div class="col-2">
        <a (click)="onSelected(tag)" class="btn btn-tag">{{tag.value}}</a>
    </div>
  </div>
  </div>
</div>
<!-- <tag-input [removable]="false"
                 [ngModel]="usedTagList"
                 [maxItems]='0'
                 [allowDupes]='true'
                 (onSelect)="onSelected($event)">
      </tag-input> -->
