<div class="row">
    <div class="col-12">
    <tag-input class="form-control" [(ngModel)]='taskModal.taskForm.taskTag' theme='pink-theme'
    [removable]='true'
    [maxItems]='10'
    (inputTextChange)="addTag($event)"
    [onlyFromAutocomplete]="false">
      <tag-input-dropdown
        [showDropdownIfEmpty]="false"
        [autocompleteItems]="autoCompleteTagList">
      </tag-input-dropdown>
    </tag-input>
  </div>
</div>
<div class="footer">
  <p>ป้ายกำกับที่เคยใช้</p>
  <tag-input
    [removable]="false"
    [ngModel]="usedTagList"
    [removable]='true'
    [maxItems]='0'
    (onSelect)="onSelected($event)">
  </tag-input>
</div>
