<div class="row phase-list-row">
    <div class="col-12">
      <ul   class="list-group list-group-flush member-list mb-4">
        <li class="list-group-item" *ngFor="let data of projectMembers;let i = index">
          <div class="member row">
            <div class="col-10">
                <div class="member-name">{{data.user.officer.firstNameTh}} {{data.user.officer.lastNameTh}}</div>
                <div class="member-reponsibility">{{data.respName}}</div>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-link"
                (click)="onDeleteMember(i)"
                ><i class="fas fa-trash-alt fa-lg"></i></button>
            </div>

          </div>
        </li>
      </ul>
    </div>
  </div>


  <form [formGroup]="projectMemberGroup" id="project-member-insert">
  <div class="row">
    <div class="col-12 d-flex">
        <h4>สมาชิก</h4>
        <button type="button" class="btn btn-link ml-auto" (click)="onSubmit()"><i class="fas fa-check fa-lg"></i></button>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label for="member-name">ชื่อ - นามสกุล *</label>
            <input formControlName="userName"
                    [(ngModel)]="userName"
                    [typeahead]="users"
                    [typeaheadOptionsLimit]="10"
                    [typeaheadMinLength]="0"
                    typeaheadOptionField="user.fullName"
                    [typeaheadItemTemplate]="customItemTemplate"
                    [typeaheadOptionsInScrollableView]="10"
                    (typeaheadOnSelect)="onSelectedMember($event)"
                    class="form-control">

                    <ng-template #customItemTemplate let-model="item" let-index="index">
                        <h6>{{model.officer.firstNameTh}} {{model.officer.lastNameTh}}</h6>
                      </ng-template>
        </div>

    </div>
    <div class="col-12">
        <div class="form-group">
            <label for="responsibility">ตำแหน่ง *</label>
            <input type="text" class="form-control"
            id="responsibility"
            formControlName="respId"
            [(ngModel)]="respName"
            [typeahead]="responsibilities"
            [typeaheadOptionsLimit]="7"
            [typeaheadMinLength]="0"
            typeaheadOptionField="respName"
            [typeaheadOptionsInScrollableView]="10"
            (typeaheadOnSelect)="onSelectedResp($event)">
            <div class="invalid-feedback">
                Please choose a username.
            </div>
        </div>
    </div>

  </div>
  </form>
