<div class="row">
    <div class="col">
        <p>สีพื้นหลัง * </p>
        <select id="colorselector">
          <option value="106" data-color="#A0522D">sienna</option>
          <option value="47" data-color="#CD5C5C" selected="selected">indianred</option>
          <option value="87" data-color="#FF4500">orangered</option>
          <option value="15" data-color="#DC143C">crimson</option>
          <option value="24" data-color="#FF8C00">darkorange</option>
          <option value="78" data-color="#C71585">mediumvioletred</option>
      </select>

      <script>

      </script>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <p>กำหนดเป็นค่าเริ่มต้น</p>
    </div>
    <div class="col-4">
        <div class="toggleWrapper">
            <input type="checkbox" id="visibility-flag" name="visibility-flag" />
            <label for="visibility-flag" class="toggle">
          <span class="toggle__handler"></span>
        </label>
        </div>
    </div>

</div>
<div class="row">
    <div class="col">
        <p>วันที่ *</p>
        <input type="text" id="datepicker-th" class="form-control">
    </div>
    <div class="col">
        <p>Time Picker</p>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>หัวข้อ *</p>
        <input type="text" name="task-detail-id" class="form-control" id="task-detail-id">
    </div>
</div>
<div class="row">
    <div class="col">
        <p>กิจกรรม</p>
        <textarea class="form-control" rows="5" class="form-control" id="project-detail" name="project-detail">
    </textarea>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>สถานที่</p>
        <input type="text" class="form-control" placeholder="autocomplete">
    </div>
</div>
