<!-- Sidebar -->


<!-- Page Content -->
<div class="container-fluid">

  <nav class="navbar navbar-expand-xs navbar-light position-sticky sticky-top spin-navbar py-0" style=" background: #90000e;">



  </nav>

  <div class="main d-flex  justify-content-start">
    <div class="spin-sidebar" style="background: skyblue;height:500px">

    </div>
    <div class="content-wrapper">
      <div class="row">
        <div class="col-12"  style="background: skyblue;height:500px">
          <!-- Sub Header -->

        </div>
      </div>
    </div>
  </div>
</div>
