.th:first-child {
    width: 2.5%;
}

.th.date {
    width: 15%;
}

.td.date {
    width: 15%;
    font-weight: 600;
}

.th.project {
    width: 40%;
}

.td.project {
    width: 40%;
}

.th.topic {
    width: 30%;
}

.td.topic {
    width: 30%;
}

[data-toggle="collapse"] .fas:before {
    color: firebrick;
    content: "\f056";
}

[data-toggle="collapse"].collapsed .fas:before {
    color: mediumseagreen;
    content: "\f055";
}

label.item {
    width: 100%;
    margin-bottom: 0%;
}

.padding-l-0 {
    padding-left: 0px;
}

li.hide-index {
    list-style-type: none;
    padding-left: 0px;
}

.col-12{
  width: 100%
}
