<div class="row">
  <div class="col-12">
    <div class="input-group">
        <input type="text"
               id="keyword"
               name="keyword"
               class="form-control"
               [(ngModel)]="keyword">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button"
        (click)="doSearch()"><i class="fas fa-search"></i> ค้นหา</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
      <div class="col-12" >ทั้งหมด {{total}} รายการ</div>
</div>
<div class="row search-results-header">
    <div class="col-3">รหัสผู้ใช้</div>
    <div class="col-5">ชื่อ - นามสกุล</div>
    <div class="col-2">ระดับ</div>
    <div class="col-2">สถานะ</div>
</div>

<div class="search-results-body" data-infinite-scroll debounce
  [infiniteScrollDistance]="scrollDistance"
  [infiniteScrollThrottle]="throttle"
  (scrolled)="onScrollDownWithKeyword()">
      <div class="row" *ngFor="let user of userList;let i = index" (click)="onItemSelected(user)">
          <div class="col-3"><span>{{user.userId}}</span></div>
          <div class="col-5"><span>{{user.officer.firstNameTh}} {{user.officer.lastNameTh}}</span></div>
          <div class="col-2"> <span>{{user.userLevel=='A'?'Admin':user.userLevel=='P'?'Project Editor':'User'}}</span></div>
          <div class="col-2"> <span>{{user.activeFlag=='A'?'ใช้งาน':'ไม่ใช้งาน'}}</span></div>
      </div>
</div>

