<div class="row">
  <div class="col-12">
      <div class="input-group">
        <input class="form-control input-sm" id="keyword" name="keyword" type="text"
        [(ngModel)]="keyword"
        (keyup)="onTermChange($event)">
        <div class="input-group-prepend">
          <span class="username input-group-text">
            <i class="fas fa-search"></i>
          </span>
    </div>
  </div>
</div>
</div>
<div class="row table-header mt-2">
    <div class="col-sm-6 text-center">ชื่อผู้ใช้งาน</div>
    <div class="col-sm-6 text-center">ระดับการใช้งาน</div>
</div>

<div class="search-results" data-infinite-scroll debounce
  [infiniteScrollDistance]="scrollDistance"
  [infiniteScrollThrottle]="throttle"
  (scrolled)="onScrollDownWithKeyword()">
<ul class="list-group list-group-flush" *ngFor="let user of userList;let i = index" >
  <div>
    <button class="list-group-item list-group-item-action" type="button"
    (click)="onItemSelected(user)">
      <div class="row">
        <div class="col-sm-6 text-left">
          <p>{{user.officer.firstNameTh}} {{user.officer.lastNameTh}}</p>
        </div>
        <div class="col-sm-6 text-center">
          <p>{{user.userLevel=='A'?'Admin':user.userLevel=='P'?'Project Editor':'User'}}</p>
        </div>

      </div>
    </button>
  </div>

</ul>
</div>

