<div class="row">
  <div class="col-12">
    <form class="form-group">
      <div class="input-group mb-2">
        <input #key class="form-control" type="search" (keyup)="onSearchByCriteria(key.value)" placeholder="Search" aria-label="Search">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fas fa-search"></i>
          </div>
        </div>

      </div>

    </form>
  </div>
</div>

<!-- <div class="row admin-table-header">
  <div class="col-sm-8 text-left">ชื่อวันหยุด</div>
  <div class="col-sm-4 text-left">วันที่</div>
</div>
<ul class="list-group list-group-flush" *ngFor="let holiday of holidays">
  <div>
    <button type="button" (click)="onChangeHoliday(holiday)" class="list-group-item list-group-item-action">
      <div class="row">
        <div class="col-sm-8 text-left">
          <p>{{holiday.holName}}</p>
        </div>
        <div class="col-sm-4 text-left media">
          <p>{{holiday.holDate | thaiDate:'full' || '' }} ({{holiday.holDate | thaiDate:'dayfull' || '' }})</p>
        </div>
      </div>
    </button>
  </div>
</ul>


<div class="row" *ngIf="holidays.length === 0">
  <div class="col-sm-12 text-center">
    <p>ไม่พบข้อมูล</p>
  </div>
</div>

<div class="search-results" data-infinite-scroll debounce [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle"
  (scrolled)="onScrollDown()">
</div> -->

<div class="row">
  <div class="col-12">ทั้งหมด  {{holidays.length}} รายการ</div>
</div>

<div class="row search-results-header">
  <div class="col-8">ชื่อวันหยุด</div>
  <div class="col-4">วันที่</div>
</div>
<div class="search-results-body"
     [infiniteScrollDistance]="scrollDistance"
     [infiniteScrollThrottle]="throttle"
     (scrolled)="onScrollDown()"
     data-infinite-scroll
     debounce>
     <div class="row"
          *ngFor="let holiday of holidays"
          (click)="onChangeHoliday(holiday)">
        <div class="col-8">{{holiday.holName}}</div>
        <div class="col-4">{{holiday.holDate | thaiDate:'full' || '' }} ({{holiday.holDate | thaiDate:'dayfull' || '' }})</div>
      </div>
</div>
