<div class="row">
  <div class="col-12">
    <form class="form-group">
      <div class="input-group mb-2">
        <input #key class="form-control" type="search" (keyup)="onSearchByCriteria(key.value)" placeholder="Search" aria-label="Search">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fas fa-search"></i>
          </div>
        </div>

      </div>

    </form>
  </div>
</div>

<div class="row admin-table-header">
  <div class="col-sm-8 text-left">ชื่อวันหยุด</div>
  <div class="col-sm-4 text-left">วันที่</div>
</div>
<ul class="list-group list-group-flush" *ngFor="let holiday of holidays">
  <div>
    <button type="button" (click)="onChangeHoliday(holiday)" class="list-group-item list-group-item-action">
      <div class="row">
        <div class="col-sm-8 text-left">
          <p>{{holiday.holName}}</p>
        </div>
        <div class="col-sm-4 text-left media">
          <p>{{holiday.holDate | thaiDate:'full' || '' }}</p>
        </div>
      </div>
    </button>
  </div>

</ul>

<div class="search-results" data-infinite-scroll debounce [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle"
  (scrolled)="onScrollDown()">
</div>
