<div class="row">
  <div class="col-12">
    <ul class="nav nav-pills spin-nav tasks-criteria-tab" id="task-criteria-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" id="nav-member-tab" role="tab" href="#nav-member" aria-controls="nav-member" aria-selected="true">ตามรายชื่อ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" id="nav-tags-tab" role="tab" href="#nav-tags" aria-controls="nav-tags" aria-selected="false">ตามป้ายกำกับ</a>
      </li>
    </ul>
    <div class="phase-filter">
      <div class="row">

        <div class="col-12">
          <label class="d-block">ระยะเวลา</label>
          <div class="tags-filter-list">
              <button class="btn badge badge-danger data-item" *ngFor="let phase of projectPhases"
              (click)="displayProjectSummary(null,phase.id.seqId)"
              >{{phase.phaseName}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-member" role="tabpanel" aria-labelledby="nav-member-tab">
        <div class="row" *ngIf="memberSpent!">
          <div class="col-12">
              <div class="row header">
                  <div class="col-6 col-xl-5">
                  </div>
                  <div class="col-2 col-xl-1 hour">
                    ชั่วโมง
                  </div>
                  <div class="col-4 col-xl-6 d-flex">
                      <div>0</div>
                      <div class="ml-auto max-hour" >{{memberSpent.hour || '0'}}</div>
                  </div>
              </div>
              <ul class="list-group list-group-flush member-list">
                  <li class="list-group-item member-item" *ngFor="let sum of memberSummary">
                    <div class="row">
                        <div class="col-6 col-xl-5  my-auto">
                            <i class="fas fa-child"></i>
                          <span class="member-name d-inline-block pl-1">{{sum.name}}</span>
                        </div>
                        <div class="col-2 col-xl-1  my-auto hour">
                            {{sum.hour}}
                        </div>
                        <div class="col-4 col-xl-6 my-auto">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" [style.width]="sum.hour/memberSpent.hour|percent" aria-valuemin="0" aria-valuemax="100">{{sum.hour/memberSpent.hour|percent}}</div>
                              </div>
                        </div>
                    </div>
                  </li>
                </ul>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-tags" role="tabpanel" aria-labelledby="nav-tags-tab">
        <div class="row" *ngIf="tagsSpent!">
          <div class="col-12">
              <div class="row header">
                  <div class="col-6 col-xl-5">
                  </div>
                  <div class="col-2 col-xl-1 hour">
                    ชั่วโมง
                  </div>
                  <div class="col-4 col-xl-6 d-flex">
                      <div>0</div>
                      <div class="ml-auto max-hour">{{tagsSpent.hour || '0'}}</div>
                  </div>
              </div>
              <ul class="list-group list-group-flush tags-list">
                  <li class="list-group-item tags-item" *ngFor="let sum of tagsSummary">
                    <div class="row">
                        <div class="col-6 col-xl-5  my-auto">
                          <i class="fas fa-tag"></i>
                          <span class="tags-name d-inline-block pl-1">{{sum.name}}</span>
                        </div>
                        <div class="col-2 col-xl-1  my-auto hour">
                            {{sum.hour}}
                        </div>
                        <div class="col-4 col-xl-6 my-auto">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" [style.width]="sum.hour/tagsSpent.hour|percent" aria-valuemin="0" aria-valuemax="100">{{sum.hour/tagsSpent.hour|percent}}</div>
                              </div>
                        </div>
                    </div>
                  </li>
                </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

