@import '~assets/scss/navs';

@include custom-spin-pills('tasks-criteria-tab', white, blue);

// tags criteria


//member tab
.profile-img{
  width:50px;
  height:50px;
}
.hour{
  text-align: center;
}
.member-list{
  li{
    padding: 0rem;
  }
}


//tags tab
i{
  color:#FF006F;
}
.tags-filter-list{
  .data-item.active{
    color: #fff !important;
    background-color: #dc3545 !important;
  }
}

