


<div class="wrapper">

    <!-- Sidebar -->
    <nav id="sidebar">
        <!-- Sidebar Header -->

        <div class="sidebar-header">
            <div class="toggle-sidebar">
                <button type="button" id="hide-sidebar">
                    <span class="navbar-toggler-icon"></span>
                  </button>
            </div>
            <div id="sidebar-brand">
                <a class="sidebar-brand" href="#">
                    <img src="/assets/img/brand/spin.png" width="50" height="50" class="d-inline-block align-top" alt="">
                    <span>SPIN</span>
                </a>
            </div>



        </div>

        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li class="nav-item active">
                <a class="nav-link" href="#">โครงการ <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">ระบบลา</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">ระบบลงเวลา</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">ปฏิทิน</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">ข่าวสาร</a>
              </li>
        </ul>
    </nav>

    <!-- Page Content -->
        <div class="container-fluid">

            <nav class="navbar navbar-expand-xs navbar-light">

                <button type="button" id="show-sidebar" class="invisible">
                  <span class="navbar-toggler-icon"></span>
                </button>

                    <div class="account-box">
                      <img class="user-image-thumbnail" src="assets/img/profile/profile.jpg" width="50" height="50">
                      <span class="user-name">Pariwat Viriyaphan</span>
                    </div>


              </nav>
        </div>
      </div>




