<div class="row">
  <div class="col-12 col-md-6 col-xl-5">
    <h4 class="d-inline-block mt-2 mb-0">ประเภทงาน</h4>
    <button type="button" class="btn btn-link" (click)="onNewCategory()">
      <i class="fas fa-plus-circle"></i> เพิ่มใหม่</button>
  </div>

</div>
<div class="row">
  <div class="col-12 col-md-6 col-xl-6 content-left">
    <div class="row">
      <div class="col-12">
       <app-category-search (categorySelected)="whenSelectCategory($event)"></app-category-search>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-6 content-right">
    <div class="row">
      <div class="col-12">
        <app-category-info (categoryEdit)="onEditCategory($event)"></app-category-info>
      </div>
    </div>
  </div>
</div>

<app-category-modal></app-category-modal>