<div class="row phase-list-row">
  <div class="col-12">
    <ul   class="list-group list-group-flush phase-list">
      <li *ngFor="let phase of projectPhases;let i = index" class="list-group-item">
        <div class="phase row">
          <div class="phase-name col-3 text-center">{{phase.phaseName}}</div>
          <div class="phase-start col-3">
            <p>{{phase.startDate | thaiDate:'short'}}</p>
            <span>เริ่มโครงการ</span>
          </div>
          <div class="phase-end col-4">
            <p>{{phase.endDate | thaiDate:'short'}}</p>
            <span>สิ้นสุดโครงการ</span>
          </div>
          <div class="phase-end col-2 my-auto">
            <button type="button" class="btn btn-link"
            (click)="onDeletePhase(i)"
            ><i class="fas fa-trash-alt fa-lg"></i></button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<form [formGroup]="projectPhaseGroup" (ngSubmit)="onAddPhase()" id="project-phase-insert">
<div class="row">
  <div class="col-12 d-flex">
      <h4>เพิ่มระยะโครงการ</h4>
      <button type="submit" class="btn btn-link ml-auto"><i class="fas fa-check fa-lg"></i></button>
  </div>
  <div class="col-6">
      <label for="phase-name">ระยะ *</label>
      <div class="input-group">
          <input type="text" class="form-control form-control-3xl text-center"
          id="phase-name"
          formControlName="phaseName"
          maxlength="10"
          [(ngModel)]="projectPhase.phaseName">
        </div>
  </div>
  <div class="col-6">
      <label for="start-date">วันที่เริ่มโครงการ *</label>
      <div class="input-group">
          <input type="text"
          class="form-control datepicker"
          id="start-date"
          name="startDate"
          maxlength="10"
          data-provide="datepicker" data-date-language="th-th"
          summitDatePicker
          autocomplete="off"
          [(ngModel)]="projectPhase.startDate"
          formControlName="startDate"
          >
          <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
            </div>
      </div>
      <label for="end-date">วันที่สิ้นสุดโครงการ *</label>
      <div class="input-group">
          <input type="text" class="form-control datepicker"
          id="end-date"
          name="endDate"
          maxlength="10"
          data-provide="datepicker" data-date-language="th-th"
          summitDatePicker
          autocomplete="off"
          [(ngModel)]="projectPhase.endDate"
          formControlName="endDate"
          >
          <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
            </div>
      </div>
  </div>
</div>
</form>
