.spin-nav.project-tab {
    background-color: transparent !important;
}

.nav-link {
    border-bottom: 0.2rem solid transparent !important;
}
.nav-link.active {
   border-bottom: 0.2rem solid #006ce0 !important;
}

a {
    color: #333333 !important;
}