@import '~assets/scss/modal.scss';
@import '~assets/scss/toggle.scss';

.color-picker {
    height: 2rem;
    width: 2rem;
}

.position-r {
    text-align: right;
}

.modal-h {
    height: 600px;
}

.thumbnail-size {
    display: inline-block;
    text-align: center;
    img {
        max-width: 100%;
        max-height: 50px;
        width: auto;
        height: auto;
    }
}

a.active {
    border: 2px solid white;
}

.time-dropdown {
    overflow: auto;
    max-height: 10rem;
    // width: webkit-fill-available;
  }

