@import '~assets/scss/modal.scss';
@import '~assets/scss/toggle.scss';

.color-picker {
    height: 2rem;
    width: 2rem;
}

.position-r {
    text-align: right;
}

.modal-h {
    height: 600px;
}

.thumbnail-size {
    display: inline-block;
    text-align: center;
    background-color: white;
    border: 3px;
    img {
        // max-width: 30px;
        // max-height: 30px;
        width: 35px;
        height: 35px;
    }
}

a.active {
    border: 2px solid white;
}

a:hover {
  border: 2px solid white;
}

.thumbnail-img{
  padding-bottom: 10px;
}

.project-list{
  max-width: 425px;
  display: block;
}
