// @import '~assets/scss/modal.scss';
// @import '~assets/scss/toggle.scss';

.color-picker {
    height: 40px;
    width: 40px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.position-r {
    text-align: right;
}

.thumbnail-size {
    display: inline-block;
    text-align: center;
    background-color: white;
    border: 3px;
    padding: 6px;

    img {
        // max-width: 30px;
        // max-height: 30px;
        display: block;
        width: 35px;
        height: 35px;
    }
}

.thumbnail-fav{
  width: 40px;
  height: 40px;
  margin: 5px;
}

a.active {
    border: 2px solid white;
}

a:hover {
  border: 2px solid white;
}

.project-list{
  max-width: 425px;
  display: block;
}

textarea {
  resize: none;
}

#taskDetailProject{
    ng-dropdown-panel{
    position: fixed !important;
    width: 456px !important;
    margin-top: -186px !important;
    }
}