<form [formGroup]="taskDetailFormGroup" id="task-detail-form">
  <!-- <div class="row">
    <div class="col d-flex">
      <div class="ml-auto ">
        <label>สิ้นสุดการทำงาน</label>
        <span class="status-flag">
          <input class="switch"
            type="checkbox"
            id="status-flag"
            name="status-flag"
            [disabled]="mode == 'VIEW'"
            formControlName="taskDetailStatusFlag">
              <label for="status-flag">
                <span></span>
              </label>
        </span>
      </div>
    </div>
  </div> -->

  <div class="row">
    <div class="col-6">
      <label class="label-task-modal">วันที่ *</label>
        <div class="input-group">
          <input class="form-control datepicker"
                 type="text"
                 name="datepicker"
                 data-provide="datepicker"
                 data-date-language="th-th"
                 summitDatePicker
                 autocomplete="off"
                 [attr.disabled]="mode == 'VIEW' ? '':null"
                 [(ngModel)]="workDate"
                 maxlength="10"
                 formControlName="taskDetailWorkDate"
                 id="datepicker">
          <div class="input-group-append input-group-addon">
            <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
          </div>
        </div>
      </div>
      <div class="col-3">
        <label class="label-task-modal">เวลา *</label>
            <div class="input-group">
                <select class="form-control"
                        id="workStartTime"
                        name="workStartTime"
                        [attr.disabled]="mode == 'VIEW' ? '':null"
                        (change)="onChangeTime()"
                        formControlName="taskDetailStartTime">
                  <option *ngFor="let time of timeList"
                          [value]="time">
                            {{time}}
                  </option>
                </select>
              </div>
      </div>
      <div class="col-3">
        <label class="invisible">เวลา *</label>
            <div class="input-group">
                <select class="form-control"
                        id="workEndTime"
                        name="workEndTime"
                        [attr.disabled]="mode == 'VIEW' ? '':null"
                        formControlName="taskDetailEndTime">
                  <option *ngFor="let time of endTimeList"
                          [value]="time">
                            {{time}}
                  </option>
                </select>
              </div>
      </div>
    </div>
  <div class="row">
    <div class=" col-12">
      <label class="label-task-modal" >หัวข้อ *</label>
      <input class="form-control"
        type="text"
        name="taskDetailTopic"
        autocomplete="off"
        maxlength="500"
        [disableControl]="isDisableTopic"
        [(ngModel)]="topic"
        formControlName="taskDetailTopic"
        id="taskDetailTopic">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <label class="label-task-modal">กิจกรรม *</label>
      <textarea class="form-control"
        rows="3"
        id="taskDetailActivity"
        autocomplete="off"
        name="taskDetailActivity"
        maxlength="1000"
        [attr.disabled]="mode == 'VIEW' ? '':null"
        formControlName="taskDetailActivity">
      </textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-12 ">
      <label class="label-task-modal">ประเภทงาน</label>
      <div class="input-group">
        <select class="form-control"
                id="task-category"
                name="task-category"
                [disableControl]="isDissableCatagory"
                formControlName="taskCatagory">
          <option value="0" selected>ไม่ระบุ</option>
          <option [value]="cat.categoryId"
                  *ngFor="let cat of categoryList"
                  pre-selected>{{cat.categoryName}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-12">
          <label class="label-task-modal">ชื่อโครงการ *</label>
          <ng-select [items]="projectList"
                     bindLabel="projectName"
                     bindValue="projectId"
                     id="taskDetailProject"
                     name="taskDetailProject"
                     [disableControl]="isDisableProject"
                     hideSelected="true"
                     [(ngModel)]="projectId"
                     (add)="onSelectProject($event)"
                     formControlName="taskDetailProject">
          </ng-select>
      </div>
  </div>
  <div class="row" *ngIf="showFavPrj">
    <div class="col-12">
      <label class="label-task-modal">รายการโปรด</label>
    </div>
    <div class="thumbnail-fav" *ngFor="let obj of favProjectList">
      <div class="btn thumbnail-size"
           data-toggle="tooltip"
           id="{{obj.projectId}}"
           data-placement="bottom"
           title="{{obj.projectName}}">
             <img
               name="{{obj.projectId}}"
               src="{{obj.projectThumbnail}}"
               (click)="onFavoriteClick(obj)">
      </div>
    </div>
  </div>
</form>

  <div class="row" *ngIf="mode !== 'VIEW'">
    <div class="col-12">
      <label class="label-task-modal">สีพื้นหลัง</label>
    </div>
    <div class="col-12">
      <a class="btn l-blue color-picker" (click)="onColorPick('l-blue')" id="blue" [class.active]="taskObj.color == 'l-blue'"></a>
      <a class="btn l-pink color-picker" (click)="onColorPick('l-pink')" id="pink" [class.active]="taskObj.color == 'l-pink'"></a>
      <a class="btn l-red color-picker" (click)="onColorPick('l-red')" id="red" [class.active]="taskObj.color == 'l-red'"></a>
      <a class="btn l-orange color-picker" (click)="onColorPick('l-orange')" id="orange" [class.active]="taskObj.color == 'l-orange'"></a>
      <a class="btn l-cyan color-picker" (click)="onColorPick('l-cyan')" id="cyan" [class.active]="taskObj.color == 'l-cyan'"></a>
      <a class="btn l-violet color-picker" (click)="onColorPick('l-violet')" id="yellow" [class.active]="taskObj.color == 'l-violet'"></a>
      <a class="btn l-green color-picker" (click)="onColorPick('l-green')" id="green" [class.active]="taskObj.color == 'l-green'"></a>
    </div>
  </div>
