<div class="container">
<form [formGroup]="taskDetailFormGroup" id="task-detail-form">
  <div class="row">
    <div class="col d-flex">
      <div class="ml-auto ">
        <label>สิ้นสุดการทำงาน</label>
        <span class="status-flag">
          <input class="switch"
            type="checkbox"
            id="status-flag"
            name="status-flag"
            formControlName="taskDetailStatusFlag">
              <label for="status-flag">
                <span></span>
              </label>
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <label>วันที่ *</label>
      <div class="input-group">
      <input class="form-control"
        type="text"
        name="datepicker"
        data-provide="datepicker"
        data-date-language="th-th"
        summitDatePicker
        [(ngModel)]="workDate"
        formControlName="taskDetailWorkDate"
        id="datepicker">
        <div class="input-group-append input-group-addon">
          <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
        </div>
      </div>
      </div>
      <div class="col-3">
        <label>เวลา *</label>
            <div class="input-group">
                <select class="form-control"
                        id="workStartTime"
                        name="workStartTime"
                        (change)="onChangeTime()"
                        formControlName="taskDetailStartTime">
                  <option *ngFor="let time of timeList"
                          [value]="time">
                            {{time}}
                  </option>
                </select>
              </div>
      </div>
      <div class="col-3">
        <label class="invisible">เวลา *</label>
            <div class="input-group">
                <select class="form-control"
                        id="workEndTime"
                        name="workEndTime"
                        formControlName="taskDetailEndTime">
                  <option *ngFor="let time of endTimeList"
                          [value]="time">
                            {{time}}
                  </option>
                </select>
              </div>
      </div>
    </div>
  <div class="row">
    <div class=" col-12">
      <label>หัวข้อ *</label>
      <input class="form-control"
        type="text"
        [disabled]="mode === 'View'"
        name="topic"
        maxlength="500"
        formControlName="taskDetailTopic"
        id="topic">
    </div>
  </div>
  <div class="row">
    <div class=" col-12">
      <label>กิจกรรม *</label>
      <textarea class="form-control"
        rows="3"
        id="activity"
        name="activity"
        [disabled]="mode === 'View'"
        maxlength="1000"
        formControlName="taskDetailActivity">
      </textarea>
    </div>
  </div>
  <div class="row">
    <div class=" col-12">
      <label>ชื่อโครงการ *</label>
      <input class="form-control"
        id="project-id"
        name="project-id"
        [disabled]="mode === 'View'"
        formControlName="taskDetailProject"
        [typeahead]="projectList"
        typeaheadOptionField="projectName"
        [typeaheadItemTemplate]="customItemTemplate"
        [typeaheadScrollable]="true"
        [typeaheadMinLength]="0"
        [typeaheadOptionsInScrollableView]="5"
        (typeaheadOnSelect)="onChangeProject($event)">
        <ng-template #customItemTemplate let-model="item" let-index="index">
          <h6>{{model.projectName}}</h6>
        </ng-template>
      </div>
  </div>

  <div class="row">
    <div class="col" >
      <nav class="nav" id="fav-project">
        <div *ngFor="let obj of favProjectList | async">
          <div class="btn thumbnail-size">
              <img
              src="{{obj.projectThumbnail}}"
              (click)="onFavoriteClick(obj)">
          </div>
        </div>
      </nav>
    </div>
  </div>
</form>

<div class="row">
  <div class="col">
    <label>สีพื้นหลัง</label>
  </div>
</div>
<div class="row">
  <div class="col">
    <a class="btn blue color-picker" (click)="onColorPick('blue')" id="corlor" [class.active]="taskObj.color == 'blue'"></a>
    <a class="btn pink color-picker" (click)="onColorPick('pink')" id="corlor" [class.active]="taskObj.color == 'pink'"></a>
    <a class="btn red color-picker" (click)="onColorPick('red')" id="corlor" [class.active]="taskObj.color == 'red'"></a>
    <a class="btn orange color-picker" (click)="onColorPick('orange')" id="corlor" [class.active]="taskObj.color == 'orange'"></a>
    <a class="btn cyan color-picker" (click)="onColorPick('cyan')" id="corlor" [class.active]="taskObj.color == 'cyan'"></a>
    <a class="btn yellow color-picker" (click)="onColorPick('yellow')" id="corlor" [class.active]="taskObj.color == 'yellow'"></a>
    <a class="btn green color-picker" (click)="onColorPick('green')" id="corlor" [class.active]="taskObj.color == 'green'"></a>
  </div>
</div>
</div>


<!-- <div class="row row">
    <div class=" col d-flex">
        <div class="ml-auto">
            <label>กำหนดเป็นค่าเริ่มต้น</label>
            <span class="task-color-toggle">
                    <input class="switch"
                           type="checkbox"
                           id="task-color-toggle"
                           [(ngModel)]="colorFlag"
                           onselect="getColorStatus($event)">
                    <label for="task-color-toggle">
                        <span></span>
            </label>
            </span>
        </div>
    </div>
</div> -->
