<form [formGroup]="projectDetailGroup">
    <!-- Visibility -->
    <div class="row">
      <div class="col-12 d-flex">
          <div class="ml-auto">
              <span class="d-inline-block">อนุญาติให้คนอื่นเห็นโครงการได้</span>
              <span class="project-filter">
                  <input type="checkbox"
                  id="secret-flag"
                  name="secret-flag"
                  formControlName="visibilityFlag"
                  [(ngModel)]="project.isVisble"
                  class="switch">
                  <label for="secret-flag"><span></span></label>
              </span>
            </div>
      </div>
    </div>

    <div class="row">
      <!-- Image -->
      <div class="col-4">
        <img *ngIf="resizedImage && resizedImage!=='processing'"
        [src]="resizedImageTrusted"
        class="img-thumbnail project-image">
        <a class="btn btn-info"><label id="upload-project-label" for="upload-project">Browse</label></a>
        <input type="file"
        id="upload-project"
        (change)="handleFileInput($event.target.files)">
      </div>

      <!-- Project ABBR $$ Project Name-->
      <div class="col-8">
        <div class="row">
          <div class="col-12 form-group">
            <label for="project-abbr">ชื่อย่อโครงการ *</label>
            <input type="text"
                   class="form-control"
                   id="project-abbr"
                   name="project-abbr"
                   formControlName="projectAbbr"
                   [(ngModel)]="project.projectAbbr"
                   >
          </div>
        </div>
        <div class="row">
          <div class="col-12 form-group">
            <label for="project-name">ชื่อโครงการ *</label>
            <input type="text"
                   class="form-control"
                   id="project-name"
                   name="project-name"
                   formControlName="projectName"
                   [(ngModel)]="project.projectName">
          </div>
        </div>
      </div>

    </div>

    <!-- Customer Name -->
    <div class="row">
      <div class="col-12 form-group">
        <label for="customer-name">ชื่อ ลูกค้า/หน่วยงาน *</label>
        <input type="text"
               class="form-control"
               id="customer-name"
               name="customer-name"
               formControlName="customerName"
               [(ngModel)]="project.customerName">
      </div>
    </div>

    <div class="row">
      <div class="col-12">

        <!-- Tab menu -->
        <ul class="nav nav-pills nav-justified"
            id="tap-sub-info"
            role="tablist">
          <li class="nav-item">
            <a class="nav-link active"
               href="#tab-detail"
               role="tab"
               id="detail-a"
               data-toggle="tab">ข้อมูลโครงการ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               href="#tab-hardware"
               role="tab"
               id="hardware-a"
               data-toggle="tab">ฮาร์ดแวร์</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
               href="#tab-software"
               role="tab"
               id="software-a"
               data-toggle="tab">ซอฟต์แวร์</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Project Detail -->
          <div role="tabpanel"
               class="tab-pane in active"
               id="tab-detail">
            <div class="form-group">
              <textarea class="form-control"
                        rows="5"
                        id="project-detail"
                        name="project-detail"
                        formControlName="projectDetail"
                        [(ngModel)]="project.detail"></textarea>
            </div>
          </div>

          <!-- Hardware -->
          <div role="tabpanel"
               class="tab-pane"
               id="tab-hardware">
            <div class="form-group">
              <textarea class="form-control"
                        rows="5"
                        id="hardware"
                        name="hardware"
                        formControlName="hardware"
                        [(ngModel)]="project.hardware"></textarea>
            </div>
          </div>

          <!-- Software -->
          <div role="tabpanel"
               class="tab-pane"
               id="tab-software">
            <div class="form-group">
              <textarea class="form-control"
                        rows="5"
                        id="software"
                        name="software"
                        formControlName="software"
                        [(ngModel)]="project.software"></textarea>
            </div>
          </div>
        </div>

      </div>
    </div>
  </form>
