    @import '~assets/scss/toggle.scss';
    $active: #2359c5;
    $white: white;
    a {
        color: $white;
    }

    .nav-link.active {
        border-radius: 0;
        background-color: $active;
    }

    textarea.form-control {
        border-radius: 0;
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem;
    }
    .project-image{
      width: 150px;
      height: 150px;
      margin: 10px auto;
      #upload-project-label{
        cursor: pointer;
        margin-bottom: 0rem !important;
        display: block;
        .img-thumbnail{
          min-height: 8rem !important;
          color: $white;
          background: #fff;
          width: 100%;
          height: 100%;
          }
          .upload-label{
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            font-weight: 400;
            color: white;
            padding: 5px 10px;
            margin: -95px auto;
            position: relative;
            width: 100px;
          }
      }
    }
    #upload-project{
      opacity: 0;
      position: absolute;
      z-index: -1;
    }

    #project-detail,#hardware,#software{
      height: 200px;
      resize: none;
    }
