<div id="card-holiday" class="card">
  <div class="card-header">
    <div class="row">
      <div class="col text-left">
        {{responsibility.respName}}
      </div>
      <div class="col text-right">
        <button type="button" class="btn btn-link">
          <i class="fas fa-check fa-lg"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <label>ชื่อย่อ</label>
    </div>
    <div class="row">
      <p>{{responsibility.respAbbr}}</p>
    </div>
    <div class="row">
      <label>สถานะการใช้งาน</label>
    </div>
    <div class="row">
      <p>{{responsibility.activeFlag === 'Y' ? 'ใช้งาน' : 'ไม่ใช้งาน'}}</p>
    </div>
    <div class="row">
      <label>หมายเหตุ</label>
    </div>
    <div class="row">
      <p>{{responsibility.respDesc}}</p>
    </div>
  </div>
</div>
