<div id="card-resp" class="card">
  <div class="card-header bg-danger">
    <div class="row">
      <div class="col text-left">
        <h4>{{responsibility.respName}}</h4>
      </div>
      <div class="col text-right">
        <button type="button" class="btn btn-link bg-white" (click)="editResponsibility($event)">
          <i class="fas fa-pencil-alt bg-white"> แก้ไข</i>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <label>ชื่อย่อ</label>
    </div>
    <div class="row">
      <p>{{responsibility.respAbbr}}</p>
    </div>
    <div class="row">
      <label>สถานะการใช้งาน</label>
    </div>
    <div class="row">
      <p>{{responsibility.activeFlag === 'A' ? 'ใช้งาน' : 'ไม่ใช้งาน'}}</p>
    </div>
    <div class="row">
      <label>หมายเหตุ</label>
    </div>
    <div class="row">
      <p>{{responsibility.respDesc}}</p>
    </div>
  </div>
</div>
