.th:first-child {
    width: 80px;
}

.th.date {
    width: 230px;
}

.td.date {
    width: 230px;
    font-weight: 600;
}

[data-toggle="collapse"] .fas:before {  
    color: firebrick;
    content: "\f056";
}
  
[data-toggle="collapse"].collapsed .fas:before {
    color: mediumseagreen;
    content: "\f055";
}

.table-border {
    // border-top: 1px solid #ccc;
    margin-top: 10px;
}