<div class="row">
  <div class="col-12">
    <form class="form-group">
      <div class="input-group mb-2">
        <input #key class="form-control" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" (click)="onSearchByCriteria(key.value)">
            <i class="fas fa-search"></i> ค้นหา</button>
        </div>

      </div>

    </form>
  </div>
</div>

<div class="row">
  <div class="col-12">ทั้งหมด {{totalElements}} รายการ</div>
</div>

<div class="row search-results-header">
  <div class="col-8">ชื่อแผนก</div>
  <div class="col-4">ชื่อย่อ</div>
</div>

<div class="search-results-body" [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()"
  data-infinite-scroll debonce>
  <div class="row" *ngFor="let department of departments" (click)="onChangeDepartment(department)">
    <div class="col-8">{{department.deptName}}</div>
    <div class="col-4">{{department.deptAbbr}}</div>
  </div>
</div>
