$cheader: rgb(205, 0, 11);
$cgraylight: #dfe6e9;
$cgraymid:#b2bec3;
$cllightgray:#f5f7fa;
$chlightgray:#e6e9ed;
$white: #ffffff;
.row {
    padding: 0px;
}

.time-header {
    background-color: $cheader;
    height: 40px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 5px solid $cgraymid;
    text-align: center;
    color: $white;
    font-size: 18px;
    font-weight: 300;
}

.time-body {
    display: table;
    .col-fixed-100 {
        -ms-flex: 0 0 100px;
        flex: 0 0 100px;
        background-color: $cgraylight;
        .time:nth-child(even) {
            border-bottom: 1px solid $cgraymid;
        }
    }
    .timestamp {
        position: relative;
        display: table-cell;
        padding-right: 0px;
        padding-left: 0px;
        .stamp {
            position: relative;
        }
        .stamp:nth-child(even) {
            background-color: $chlightgray;
        }
        .stamp:nth-child(odd) {
            background-color: $cllightgray;
        }
    }
}

.ui-selecting {
    background: #FECA40 !important;
}

.ui-selected {
    background: #F39814 !important;
}

.excluded {
    background-color: red;
    color: white;
    cursor: default;
}

.overlap {
    position: relative;
}
.overlay {
    position: absolute;background: rgba(232, 0, 11, 0.4);top: 0;bottom: 0;left: 0;right: 0;
}