<div class="row">
  <div class="col-12">
    <form class="form-group">
      <div class="input-group mb-2">
        <input #key class="form-control" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" (click)="onSearchByCriteria(key.value)">
            <i class="fas fa-search"></i> ค้นหา</button>
        </div>

      </div>

    </form>
  </div>
</div>

<div class="row">
  <div class="col-12">ทั้งหมด {{totalElements}} รายการ</div>
</div>

<div class="row search-results-header">
  <div class="col-6">ชื่อป้ายกำกับ</div>
  <div class="col-6">ประเภท</div>
</div>


<div class="search-results-body" data-infinite-scroll debounce [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle"
  (scrolled)="onScrollDown()">
  <div class="row" *ngFor="let tag of tags" (click)="onChangeTag(tag)">
    <div class="col-6">{{tag.tagName}}</div>
    <div class="col-6">{{tag.tagType == 'A' ? 'ประเภทการทำงาน' : 'ไม่ระบุ'}}</div>
  </div>
</div>
