<div class="row">
  <div class="col-12">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#project-modal">แก้ไขข้อมูลโครงการ</button>
  </div>
  <div class="col-12">
      <ul class="nav nav-pills nav-justified spin-nav project-tab" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#detail" role="tab" aria-controls="detail" aria-selected="false">รายละเอียด</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#members" role="tab" aria-controls="members" aria-selected="false">สมาชิก</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#tasks" role="tab" aria-controls="tasks" aria-selected="true">งานที่เกิดขึ้น</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade" id="detail" role="tabpanel" aria-labelledby="detail-tab">
              <app-prj-info-detail></app-prj-info-detail>
            </div>
          <div class="tab-pane fade" id="members" role="tabpanel" aria-labelledby="members-tab">
              <app-prj-info-member></app-prj-info-member>
          </div>
          <div class="tab-pane fade show active" id="tasks" role="tabpanel" aria-labelledby="tasks-tab">
           <app-prj-info-summary></app-prj-info-summary>
          </div>
        </div>
  </div>
</div>
