<div class="row">
  <div class="col-12 time-header">
    <div class="col table-header">
      <div class="row">
        <div class="col">{{ dates[0] | async | thaiDate:'day' }}</div>
        <div class="col">{{ dates[1] | async | thaiDate:'day' }}</div>
        <div class="col">{{ dates[2] | async | thaiDate:'day' }}</div>
        <div class="col">{{ dates[3] | async | thaiDate:'day' }}</div>
        <div class="col">{{ dates[4] | async | thaiDate:'day' }}</div>
        <div class="col">{{ dates[5] | async | thaiDate:'day' }}</div>
        <div class="col">{{ dates[6] | async | thaiDate:'day' }}</div>
      </div>
    </div>
  </div>
</div>
<div class="row scrolling">
  <div class="row time-body">
    <div class="col col-fixed-100 d-flex flex-column">
      <div *ngFor="let item of ['00:00','&nbsp;','01:00','&nbsp;','02:00','&nbsp;','03:00','&nbsp;','04:00','&nbsp;','05:00','&nbsp;','06:00','&nbsp;','07:00','&nbsp;','08:00','&nbsp;','09:00','&nbsp;','10:00','&nbsp;','11:00','&nbsp;','12:00','&nbsp;','13:00','&nbsp;','14:00','&nbsp;','15:00','&nbsp;','16:00','&nbsp;','17:00','&nbsp;','18:00','&nbsp;','19:00','&nbsp;','20:00','&nbsp;','21:00','&nbsp;','22:00','&nbsp;','23:00','&nbsp;']"
    
           class="time d-flex align-items-stretch">{{item}}</div>
    </div>
    <div class="col table">
      <div class="row">
        <div class="col timestamp-week1">
          <div *ngFor="let item of worktable ;let i = index"
               class="stamp"
               [attr.data-index]="i"
               [attr.data-value]="item"
               [attr.data-col]="0">&nbsp;</div>
        </div>
        <div class="col timestamp-week2">
          <div *ngFor="let item of worktable ;let i = index"
               class="stamp"
               [attr.data-index]="i"
               [attr.data-value]="item"
               [attr.data-col]="1">&nbsp;</div>
        </div>
        <div class="col timestamp-week3">
          <div *ngFor="let item of worktable ;let i = index"
               class="stamp"
               [attr.data-index]="i"
               [attr.data-value]="item"
               [attr.data-col]="2">&nbsp;</div>
        </div>
        <div class="col timestamp-week4">
          <div *ngFor="let item of worktable ;let i = index"
               class="stamp"
               [attr.data-index]="i"
               [attr.data-value]="item"
               [attr.data-col]="3">&nbsp;</div>
        </div>
        <div class="col timestamp-week5">
          <div *ngFor="let item of worktable ;let i = index"
               class="stamp"
               [attr.data-index]="i"
               [attr.data-value]="item"
               [attr.data-col]="4">&nbsp;</div>
        </div>
        <div class="col timestamp-week6">
          <div *ngFor="let item of worktable ;let i = index"
               class="stamp"
               [attr.data-index]="i"
               [attr.data-value]="item"
               [attr.data-col]="5">&nbsp;</div>
        </div>
        <div class="col timestamp-week7">
          <div *ngFor="let item of worktable ;let i = index"
               class="stamp"
               [attr.data-index]="i"
               [attr.data-value]="item"
               [attr.data-col]="6">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
</div>
