@import '~assets/scss/modal.scss';

.label-task-modal{
  margin-bottom: 0px;
  margin-top: 8px;
}

.modal-dialog-centered{
  margin: 0 auto;
}

.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration:none;
}
