<div class="row">
  <div class="col-12">
      <a class="nav-link" href="#"><i class="fas fa-external-link-square-alt"></i>โครงการใหม่</a>
  </div>
  <div class="col-12">
      <div class="card project-highlight">
          <div class="card-body">
            <img class="project-thumbnail float-left mr-4" src="../../../../assets/img/projects/Burger_King_Logo.png" width="100" height="100">
            <h1 class="project-abbr">RD-DDC</h1>
            <p class="customer-name">กรมสรรพากร</p>
            <div class="project-name  d-flex justify-content-center">
              ระบบศูนย์ข้อมูลดิจิตอล
            </div>
            <div class="phase d-flex justify-content-between">
              <div class="phase-start">
                <p>1 มี.ค. 2561</p>
                <span>เริ่มโครงการ</span>
              </div>
              <div class="phase-end">
                  <p>31 ธ.ค. 2561</p>
                  <span>สิ้นสุดโครงการ</span>
              </div>
              <div class="phase-name">
                MA
              </div>
              </div>
          </div>
        </div>
  </div>
</div>
<div class="row project-list">
    <div class="d-flex col-12">
        <div class="mr-auto p-2">เลือกโครงการ</div>
        <div class="p-2">
            <span class="switch">
                <input type="checkbox" class="switch" id="switch-id">
                <label for="switch-id"><span></span></label>
              </span>
        </div>
    </div>
  <div class="col-12">

  </div>
</div>
