$font-color:#fff;
$first-bg-color:rgb(0, 108, 224);
$second-bg-color:rgba(0, 0, 0, 0.5);

$border-color1: green;
p{
  font-size: 1.3rem;
  margin:0 !important;
}

.project-highlight{
  background:$first-bg-color;
  color:$font-color;
  .project-abbr{
    margin:0 !important;
  }
  .customer-name{
    opacity: 0.8;
    filter: opacity(80);
  }
  .project-name{
    clear:both;
    background-color:$second-bg-color;
    margin: 2.5rem 0rem 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .phase{
    text-align: center;
    margin: 0rem 1rem;

    .phase-name{
      padding: 0.5rem 1.5rem;
      background-color: #ffc800;
      font-size: 1.5rem;
      font-weight: 700;
    }
  }

}

#project-list{
  li{
    margin-bottom:0.5rem;
    cursor: pointer;
    .project-item{
      .card-body{
        padding: 0.5rem;

        .project-thumbnail{
          display: inline-block;
          text-align: center;
        }
        .project-abbr{
          font-size: 1.5rem;
          font-weight: 600;
        }
        .customer-name{
          margin: -0.5rem 0rem 0rem;
          opacity: 0.8;
          filter: opacity(80);
        }
        .project-name{
          border:0.1rem solid $border-color1;
        }
        .phase{
          text-align: center;
          p{
            font-size: 1rem;
          }
          span{
            font-size: 0.8rem;
            margin-top:-0.1rem;
            display: block;
          }
          .phase-name{
            padding: 0.5rem 0.8rem;
            background: #ffc800;
          }
        }
      }
    }
}

}


.search-results {
  height: 100%;
  // overflow: scroll;
}
