$white:#fff;
$first-bg-color:rgb(0, 108, 224);
$second-bg-color:rgba(0, 0, 0, 0.5);

$border-color1: green;



p{
  font-size: 1rem;
  margin:0 !important;
}

#project-list{
  li{
    margin-bottom:0.5rem;
    max-height: 170px;
    cursor: pointer;
    .project-item{

      .card-body{
        padding: 0.5rem;

        .project-thumbnail{
          display: inline-block;
          text-align: center;
          img{
            display: block;
            width: 110px;
            height: 110px;
            margin: 0 auto;
            background: #fff;
            border: 10px solid #fff;
            border-radius: 5px;
          }
        }
        .project-abbr{
          font-size: 1.5rem;
          font-weight: 600;
        }



        .customer-name{
          margin: -0.5rem 0rem 0rem;
          opacity: 0.8;
          filter: opacity(80);
        }
        .project-name{
          border:0.1rem solid $second-bg-color;
          p{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        .phase{
          text-align: center;
          p{
            font-size: 1rem;
          }
          span{
            font-size: 0.8rem;
            margin-top:-0.1rem;
            display: block;
          }
          .phase-name{
            padding: 0.5rem 0.8rem;
            background: #ffc800;
          }
        }
      }
    }
  }
  li.active> .project-item> .card-body .project-name{
    border:0.1rem solid $white!important;
  }
  li:hover> .project-item> .card-body .project-name{
    border:0.1rem solid #3e3e3e;
  }

}


.favorite{
  position: absolute;
    right: 0rem;
    top: 0rem;
    z-index: 1;
    font-size: 1.5rem;
    cursor: pointer;
    .far, .far::before{
      color:grey;
    }
    .fas, .fas::before{
      color:rgb(191, 0, 19) !important;
    }
}

.favorite:hover .fas::before{
  color: #ff385b !important;
}

.search-results {
  height: 100%;
  // overflow: scroll;
}
