
<div class="row project-search">
    <div class="d-flex col-12 mb-2">
        <div class="my-auto d-none d-lg-inline-block">เลือกโครงการ</div>
        <div class="my-auto ml-auto">
          <span >เฉพาะโครงการที่ฉันเป็นสมาชิก</span>
            <span class="project-filter">
                <input type="checkbox"
                class="switch"
                id="visibility-flag" [(ngModel)]="onlyMember"
                (change)="onChangeProjectFilter()">
                <label for="visibility-flag"

                ></label>
            </span>
            <!--
              [popper]="popper1Content"
                [popperTrigger]="'hover'"
                [popperShowOnStart]="true"
                [popperPlacement]="'bottom'"

              <popper-content #popper1Content>
              <p class="bold">Popper on bottom</p>
            </popper-content> -->
        </div>
    </div>
  <div class="col-12">
      <div class="search-results"
         data-infinite-scroll
         debounce
         [infiniteScrollDistance]="scrollDistance"
         [infiniteScrollThrottle]="throttle"
         (scrolled)="onScrollDown()">
         <ul class="nav flex-column data-can-select-list" id="project-list">
            <li *ngFor="let prj of projectList;let i = index" class="nav-item"  [ngClass]="(i==0?'active':'')">

                <div class="card project-item">
                      <button type="button"
                      class="btn btn-link favorite"
                      (click)="toggleFavoriteProject(prj.projectId)">
                        <i class="{{prj.isFavorite?'fas':'far'}} fa-heart ml-auto"></i>
                      </button>
                    <div class="card-body row"  (click)="onProjectSelected(prj)">
                      <div class="project-thumbnail d-none d-sm-inline-block col-sm-3 col-md-3 col-lg-2 col-xl-3">
                          <img class="my-3" src="{{prj.projectThumbnail}}">
                      </div>
                      <div class="col-12 col-sm-9 col-md-9 col-lg-10 col-xl-9">
                          <div class="project-abbr d-flex">{{prj.projectAbbr}}

                        </div>
                          <div class="customer-name">{{prj.customerName}}</div>
                          <div class="project-name d-flex justify-content-center py-2 mb-2">
                              {{prj.projectName}}
                          </div>
                          <div class="phase d-flex justify-content-between">
                            <div class="phase-start">
                              <p>{{prj.startDate | thaiDate:'short' || ''}}</p>
                              <span>เริ่มโครงการ</span>
                            </div>
                            <div class="phase-end">
                                <p>{{prj.endDate | thaiDate:'short' || ''}}</p>
                                <span>สิ้นสุดโครงการ</span>
                            </div>
                            <div class="phase-name">
                              {{prj.phaseName || 'N/A'}}
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
            </li>
      </ul>
    </div>
  </div>
</div>

