<div class="row">
  <div class="col-12">
      <a class="nav-link" href="#"><i class="fas fa-external-link-square-alt"></i>โครงการใหม่</a>
  </div>
  <div class="col-12">
      <div class="card project-highlight">
          <div class="card-body">
            <img class="project-thumbnail float-left mr-4" src="../../../../assets/img/projects/Burger_King_Logo.png" width="100" height="100">
            <h1 class="project-abbr d-flex">RD-DDC <i class="far fa-star ml-auto favorite"></i></h1>
            <span class="customer-name">กรมสรรพากร</span>
            <div class="project-name  d-flex justify-content-center">
              ระบบศูนย์ข้อมูลดิจิตอล
            </div>
            <div class="phase d-flex justify-content-between">
              <div class="phase-start">
                <p>1 มี.ค. 2561</p>
                <span>เริ่มโครงการ</span>
              </div>
              <div class="phase-end">
                  <p>31 ธ.ค. 2561</p>
                  <span>สิ้นสุดโครงการ</span>
              </div>
              <div class="phase-name">
                MA
              </div>
              </div>
          </div>
        </div>
  </div>
</div>
<div class="row project-search">
    <div class="d-flex col-12">
        <div class="mr-auto p-2">เลือกโครงการ</div>
        <div class="p-2">
          <span>เฉพาะโครงการที่ฉันเป็นสมาชิก</span>
            <span class="project-filter">
                <input type="checkbox" class="switch" id="switch-id">
                <label for="switch-id"><span></span></label>
            </span>
        </div>
    </div>
  <div class="col-12">
      <ul class="nav flex-column project-list">
          <li class="nav-item">
              <div class="card project-item">
                  <div class="card-body row">
                    <div class="project-thumbnail d-none d-sm-inline-block col-sm-3 col-md-3 col-lg-2 col-xl-3">
                        <img class="my-3" src="../../../../assets/img/projects/Burger_King_Logo.png" width="100" height="100">
                    </div>
                    <div class="col-12 col-sm-9 col-md-9 col-lg-10 col-xl-9">
                        <div class="project-abbr d-flex">RD-DDC <i class="far fa-star ml-auto favorite"></i></div>
                        <div class="customer-name">กรมสรรพากร</div>
                        <div class="project-name d-flex justify-content-center py-2 mb-2">
                          ระบบศูนย์ข้อมูลดิจิตอล
                        </div>
                        <div class="phase d-flex justify-content-between">
                          <div class="phase-start">
                            <p>1 มี.ค. 2561</p>
                            <span>เริ่มโครงการ</span>
                          </div>
                          <div class="phase-end">
                              <p>31 ธ.ค. 2561</p>
                              <span>สิ้นสุดโครงการ</span>
                          </div>
                          <div class="phase-name">
                            MA
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
          </li>
          <li class="nav-item">
              <div class="card project-item">
                  <div class="card-body row">
                      <div class="project-thumbnail d-none d-sm-inline-block col-sm-3 col-md-3 col-lg-2 col-xl-3">
                          <img class="my-3" src="../../../../assets/img/projects/Burger_King_Logo.png" width="100" height="100">
                      </div>
                      <div class="col-12 col-sm-9 col-md-9 col-lg-10 col-xl-9">
                          <div class="project-abbr d-flex">RD-DDC <i class="far fa-star ml-auto favorite"></i></div>
                          <div class="customer-name">กรมสรรพากร</div>
                          <div class="project-name d-flex justify-content-center py-2 mb-2">
                            ระบบศูนย์ข้อมูลดิจิตอล
                          </div>
                          <div class="phase d-flex justify-content-between">
                            <div class="phase-start">
                              <p>1 มี.ค. 2561</p>
                              <span>เริ่มโครงการ</span>
                            </div>
                            <div class="phase-end">
                                <p>31 ธ.ค. 2561</p>
                                <span>สิ้นสุดโครงการ</span>
                            </div>
                            <div class="phase-name">
                              MA
                            </div>
                          </div>
                      </div>
                    </div>
                </div>
          </li>
          <li class="nav-item">
              <div class="card project-item">
                  <div class="card-body row">
                      <div class="project-thumbnail d-none d-sm-inline-block col-sm-3 col-md-3 col-lg-2 col-xl-3">
                          <img class="my-3" src="../../../../assets/img/projects/Burger_King_Logo.png" width="100" height="100">
                      </div>
                      <div class="col-12 col-sm-9 col-md-9 col-lg-10 col-xl-9">
                          <div class="project-abbr d-flex">RD-DDC <i class="far fa-star ml-auto favorite"></i></div>
                          <div class="customer-name">กรมสรรพากร</div>
                          <div class="project-name d-flex justify-content-center py-2 mb-2">
                            ระบบศูนย์ข้อมูลดิจิตอล
                          </div>
                          <div class="phase d-flex justify-content-between">
                            <div class="phase-start">
                              <p>1 มี.ค. 2561</p>
                              <span>เริ่มโครงการ</span>
                            </div>
                            <div class="phase-end">
                                <p>31 ธ.ค. 2561</p>
                                <span>สิ้นสุดโครงการ</span>
                            </div>
                            <div class="phase-name">
                              MA
                            </div>
                          </div>
                      </div>
                    </div>
                </div>
          </li>
        </ul>
  </div>
</div>
<!-- position: absolute;
    margin-left: -2.5rem;
    content: 'OFF'; -->
