<div class="row">
  <div class="col-12 col-md-6 col-xl-5">
    หน้าที่ความรับผิดชอบ
    <button type="button" class="btn btn-link" (click)="createResponsibility()">เพิ่มใหม่</button>
  </div>

</div>
<div class="row">
  <div class="col-12 col-md-6 col-xl-5">
    <app-responsibility-search (respId)="getRespId($event)"></app-responsibility-search>
  </div>
  <div class="col-12 col-md-6 col-xl-5">
    <app-responsibility-info></app-responsibility-info>
  </div>
</div>

<app-responsibility-modal></app-responsibility-modal>
