<div class="row">
  <div class="col-12 col-md-6 col-xl-5">
    <h2 class="d-inline-block mt-2 mb-0">หน้าที่ความรับผิดชอบ</h2>
    <button type="button" class="btn btn-link" (click)="createResponsibility()">
      <i class="fas fa-plus-circle"></i> เพิ่มใหม่</button>
  </div>

</div>
<div class="row">
  <div class="col-12 col-md-6 col-xl-6 content-left">
    <div class="row">
      <div class="col-12">
        <app-responsibility-search (messageEvent)="getRespId($event)"></app-responsibility-search>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-xl-6 content-right">
    <div class="row">
      <div class="col-12">
        <app-responsibility-info></app-responsibility-info>
      </div>
    </div>
  </div>
</div>

<app-responsibility-modal (changeState)="onCheckState($event)"></app-responsibility-modal>
