<div class="row collapse show" id="datepickerCollapse">
  <div id="workingDatePicker" class="inline-picker"></div>
</div>
<div class="row block p-0 datepicker-collapse">
  <button class="btn btn-dark dp-btn-collapse" type="button" data-toggle="collapse" data-target="#datepickerCollapse" aria-expanded="false" aria-controls="datepickerCollapse">
    <i class="fas fa-chevron-up"></i>
  </button>
</div>
<div id="task-list">
  <task [source]="taskf.task"
        *ngFor=" let taskf of taskForms | async"></task>
</div>