<div class="row collapse show"
     id="datepickerCollapse">
  <div id="workingDatePicker" data-provide="datepicker" data-date-language="th-th"></div>
</div>
<div class="row block p-0 datepicker-collapse">
  <button class="btn btn-dark dp-btn-collapse"
          type="button"
          id="toggle-calendar"
          data-toggle="collapse"
          data-target="#datepickerCollapse"
          aria-expanded="false"
          aria-controls="datepickerCollapse">
    <i class="fas fa-chevron-up"></i>
    <i class="fas fa-chevron-down"
       style="display:none;"></i>
  </button>
</div>
<div class="day-tasks-list">
  <task [source]="taskf.task"
        *ngFor=" let taskf of taskForms | async"></task>
</div>